<a href="https://colab.research.google.com/github/rishabhk1501/Data-Analytics-Tasks/blob/main/Copy_of_session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
# Write your code here
print("Data", "Science", "Mentorship", "Program", "started", "By", "CampusX", sep='-')

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
# Write your code here

# Program to convert celcius value to fahrenheit

# Take user input and assign celcius variable
c = float(input())
# write conversion formula
f = ((9*c)/5) + 32
# print the result
print(f'The temperature of {c} degree celcius in fahrenheit is {f} degree fahrenheit')

37
The temperature of 37.0 degree celcius in fahrenheit is 98.6 degree fahrenheit

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
# Write your code here

x1 = float(input())
x2 = float(input())
x1,x2 = x2,x1
print(f'The two numbers after swap are: {x1} and {x2}')

45.7
8899.56788
The two numbers after swap are: 8899.56788 and 45.7

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
# Write your code here

x1 = float(input())
y1 = float(input())
x2 = float(input())
y2 = float(input())

eucl_dist = (((x2-x1)**2) + ((y2-y1)**2))**0.5
print(eucl_dist)

2
3
6
7
5.656854249492381

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
# Write your code here

P = float(input())
R = float(input())
T = float(input())

SI = P*R*T
print(SI)

30000
0.05
3
4500.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
# Write your code here

'''
a = 0.5y -x
b = 2x - 0.5y
'''
tot_head = int(input())
tot_leg = int(input())
tot_dog = int((0.5*tot_leg) - tot_head)
tot_chicken = int((2*tot_head) - (0.5*tot_leg))
print('Total number of dogs and chickens are', tot_dog, 'and', tot_chicken, 'respectively.')

30
80
Total number of dogs and chickens are 10 and 20 respectively.

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
# Write your code here

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
# Write your code here

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
# Write your code here

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
# Write your code here