<a href="https://colab.research.google.com/github/rishabhk1501/Data-Analytics-Tasks/blob/main/session_2_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [11]:
# Write code here

ctc = int(input('Enter the salary: '))

if (ctc <= 500000):
  in_hand = ctc/12
elif (ctc > 500000 and ctc <=1000000):
  in_hand = (ctc*0.72)/12
elif (ctc > 1000000 and ctc <=2000000):
  in_hand = (ctc*0.62)/12
else:
  in_hand = (ctc*0.52)/12


print('The inhand salary for ctc {} is {}'.format(ctc, in_hand))

Enter the salary: 2000000
The inhand salary for ctc 2000000 is 103333.33333333333

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [23]:
# Write code here

A = int(input('Enter first angle: '))
B = int(input('Enter second angle: '))
C = int(input('Enter third angle: '))

if  A>0 and B>0 and C>0 and (A+B+C) == 180:
  print('Angle {}, {} and {} will form a triangle'.format(A, B, C))
else:
  print('Angle {}, {} and {} will not form a triangle'.format(A, B, C))

Enter first angle: 90
Enter second angle: 45
Enter third angle: 45
Angle 90, 45 and 45 will form a triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [27]:
# Write code here

cp = float(input('Enter the cost price: '))
sp = float(input('Enter the selling price: '))

if (cp > 0 and sp > 0 and cp > sp):
  print('It\'s a loss')
elif (cp > 0 and sp > 0 and cp < sp):
  print('It\'s a profit')
else:
  print('Invalid price entered')

Enter the cost price: 1000
Enter the selling price: 1400
It's a profit

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [55]:
# Write code here

option = int(input('Select the desired option from available four options: '))
if option == 1:
  print('You have selected option for cm to ft conversion')
  value = int(input('Enter the value '))
  ft = value/30.48
  print('{} cm is equal to {} ft'.format(value,ft))
elif option == 2:
  print('You have selected option for km to miles conversion')
  value = int(input('Enter the value '))
  miles = value*0.621
  print('{} km is equal to {} miles'.format(value,miles))
elif option == 3:
  print('You have selected option for USD to INR conversion')
  value = int(input('Enter the value '))
  INR = value*75.5
  print('{} USD is equal to {} INR'.format(value,INR))
elif option == 4:
  print('You have left the menu driven calculator')
else:
  print('You have selected invalid option')

Select the desired option from available four options: 2
You have selected option for km to miles conversion
Enter the value 15
15 km is equal to 9.315 miles

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [58]:
# Write code here
n = int(input('Enter total number of terms of Fibonacci series to be displayed: '))
series = [0,1]

for i in range(3,n+1):
  series.append(series[-2]+series[-1])

print('Fibonacci series up to {} terms is as follows:'.format(n), series, sep = '\n')

Enter total number of terms of Fibonacci series to be displayed: 23
Fibonacci series up to 23 terms is as follows:
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711]

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [3]:
# Write code here
# Using while loop

n = int(input('Enter number to calculate it\'s factorial: '))
factorial = 1
i = 1
while i <= n:
  factorial = factorial * i
  i += 1

print('Factorial for number {} is equal to {}'.format(n,factorial))

Enter number to calculate it's factorial: 16
Factorial for number 16 is equal to 20922789888000

In [5]:
# Using for loop

n = int(input('Enter number to calculate it\'s factorial: '))
factorial = 1
for i in range(1,n+1):
  factorial = factorial * i

print('Factorial for number {} is equal to {}'.format(n,factorial))

Enter number to calculate it's factorial: 16
Factorial for number 16 is equal to 20922789888000

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [8]:
# Write code here

n = input('Enter integer: ')

reverse_n = int(n[::-1])

print('The reverse of the integer {} is {}'.format(n,reverse_n))

Enter integer: 1234567
The reverse of the integer 1234567 is 7654321

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [68]:
# Write code here

n = int(input('Enter integer: '))

sum = 0
i = 1
while i <= n:
  if (i % 5 != 0 and sum < 300):
    sum = sum + i
  i = i + 1


print('The total sum from 1 to {} excluding the numbers divisible by 5 is {}'.format(n,sum))

Enter integer: 30
The total sum from 1 to 30 excluding the numbers divisible by 5 is 303

In [63]:
# Using break statement

N = int(input("Enter an integer N: "))

total_sum = 0
i = 1

while i <= N:
    if i % 5 != 0:  # Skip numbers divisible by 5
        total_sum += i
        if total_sum > 300:  # Check if sum exceeds 300
            break
    i += 1

print("The sum from 1 to {} excluding numbers divisible by 5 and sum greater than 300 is: {}".format(N, total_sum))

Enter an integer N: 30
The sum from 1 to 30 excluding numbers divisible by 5 and sum greater than 300 is: 303

In [61]:
# Using break and continue statement

N = int(input("Enter an integer N: "))

total_sum = 0
i = 1

while i <= N:
    if i % 5 == 0:  # Check if number is divisible by 5
        i += 1
        continue  # Skip to next iteration if divisible by 5

    total_sum += i
    if total_sum > 300:  # Check if sum exceeds 300
        break

    i += 1

print("The sum from 1 to {} excluding numbers divisible by 5 and sum greater than 300 is: {}".format(N, total_sum))

Enter an integer N: 30
The sum from 1 to 30 excluding numbers divisible by 5 and sum greater than 300 is: 303

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [71]:
# Write code here

n = int(input('Enter the number: '))
bucket = []
count = 1
while n != 0:
  n = int(input('Enter the number: '))
  bucket.append(n)
  count = count + 1

print(sum(bucket))
print(sum(bucket)/count)

Enter the number: 6
Enter the number: 8
Enter the number: 9
Enter the number: 90
Enter the number: 0

TypeError: 'int' object is not callable

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained s3

In [ ]:
# Write code here

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
# Write code here

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
# Write code here

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
# Write code here

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
# Write code here

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here