<a href="https://colab.research.google.com/github/rishabhk1501/Data-Analytics-Tasks/blob/main/session_18_tasks_soln.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

# to visualize all the column, run the below code
pd.options.display.max_columns = None
# to show all the records, use the below code
pd.options.display.max_rows = None

## Fifa Worldcup - 2022 dataset.

You can find the dataset from [here](https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results).

Also you can directly use an url to read the dataset by using `pd.read_csv()` method. Check the below code cell.

In [ ]:
# To get the details about the dataset, please visit
# https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv"
fifa_wc_22 = pd.read_csv(url)
fifa_wc_22

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Red Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,5,0,5,2,3,15,0,3,1,9,45,5,159,100,6,4,4,0,15,3,453,387,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,5,5,2,4,1,8,7,6,4,6,55,10,159,103,6,4,2,0,15,4,484,419,26,10,3,17,1,3
2,3,2,England,Iran,B,6,69,6,0,6,13,7,3,10,3,11,5,2,3,11,72,15,133,94,8,6,0,0,9,2,810,733,29,9,8,16,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,126,63,Morocco,Croatia,F,1,45,1,0,0,7,2,5,5,2,13,1,3,7,16,75,10,150,97,14,8,2,0,11,2,494,428,20,5,3,15,0,0
126,127,64,Argentina,France,C,3,46,3,0,1,21,9,9,13,8,13,6,8,9,9,163,28,249,172,40,24,4,0,26,4,648,544,20,4,6,22,5,3
127,128,64,France,Argentina,D,3,40,3,0,1,10,5,3,7,3,15,7,5,4,12,69,9,179,107,14,9,3,0,19,4,516,419,24,3,5,28,4,0

In [ ]:
fifa_wc_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 38 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Sl. No                           128 non-null    int64
 1   Match No.                        128 non-null    int64
 2   Team                             128 non-null    object
 3   Against                          128 non-null    object
 4   Group                            128 non-null    object
 5   Goal                             128 non-null    int64
 6   Possession (%)                   128 non-null    int64
 7   Inside Penalty Area              128 non-null    int64
 8   Outside Penalty Area             128 non-null    int64
 9   Assists                          128 non-null    int64
 10  Total Attempts                   128 non-null    int64
 11  On Target                        128 non-null    int64
 12  Off Target                       128 non-null    int64
 13  Target in Penalty                128 non-null    int64
 14  Target from Outside              128 non-null    int64
 15  Left Channel                     128 non-null    int64
 16  Left Inside Channel              128 non-null    int64
 17  Central Channel                  128 non-null    int64
 18  Right Inside Channel             128 non-null    int64
 19  Right Channel                    128 non-null    int64
 20  Receptions MD                    128 non-null    int64
 21  Receptions D                     128 non-null    int64
 22  Attempted Line Breaks            128 non-null    int64
 23  Completed Line Breaks            128 non-null    int64
 24  Attempted Defensive Line Breaks  128 non-null    int64
 25  Completed Defensive Line Breaks  128 non-null    int64
 26  Yellow Cards                     128 non-null    int64
 27  Red Cards                        128 non-null    int64
 28  Fouls Against                    128 non-null    int64
 29  Offsides                         128 non-null    int64
 30  Passes                           128 non-null    int64
 31  Passes Completed                 128 non-null    int64
 32  Crosses                          128 non-null    int64
 33  Crosses Completed                128 non-null    int64
 34  Corners                          128 non-null    int64
 35  Free Kicks                       128 non-null    int64
 36  Penalties Scored                 128 non-null    int64
 37  Pts                              128 non-null    int64
dtypes: int64(35), object(3)
memory usage: 38.1+ KB

![image.png]()

### `Q-1:` Use the football dataset. Find out the total percentages that each team made on target. Display the result as a python dictionary where the keys are the team list and the values are the percentage values. Round off the percentage values up to 2 decimal places.

*Help:*
- First, find out how many total teams are participated in this worldcup. For that, you can use `unique()` method on the column "Team" or "Against".
- Loop through the teams list that you have found in previous section, and then filter the dataset according to that. After filtering the dataset, find out total attempts sum and total on target sum.
- After getting these values, find out the percentage by total on target divided by total attempts and multiply by 100. And store to a python dictionary where the key will be the team name and the values will be the percentages.
- At the end,sort the dictionary by the values (not by the keys) and print the result.


**Sample Output:**
```bash
{'Costa Rica': 54.55,
 'Cameroon': 51.85,
 'Ecuador': 48.15,
 'Argentina': 46.99,
 'Brazil': 45.56,
 'England': 45.0,
 'Portugal': 40.32,
 'Ghana': 40.0,
 'Netherlands': 39.02,
 'Korea Republic': 36.73,
 'Australia': 36.0,
 'Mexico': 34.88,
 'Croatia': 34.78,
 'Germany': 34.33,
 'France': 32.97,
 'Spain': 32.69,
 'Belgium': 32.35,
 'Serbia': 32.26,
 'Iran': 31.43,
 'Uruguay': 31.25,
 'United States': 31.11,
 'Saudi Arabia': 31.03,
 'Senegal': 30.77,
 'Denmark': 30.56,
 'Switzerland': 30.56,
 'Japan': 30.23,
 'Wales': 29.17,
 'Qatar': 28.57,
 'Morocco': 28.3,
 'Tunisia': 26.67,
 'Poland': 25.0,
 'Canada': 17.65}
```

In [ ]:
# code here

def on_target(Team):

  df = fifa_wc_22[fifa_wc_22['Team'] == Team]
  target_perc = round((df['On Target'].sum()/df['Total Attempts'].sum())*100,2)

  return target_perc

In [ ]:
target_dict = {Team:on_target(Team) for Team in fifa_wc_22['Team'].unique()}

In [ ]:
target_dict

{'Qatar': 28.57,
 'Ecuador': 48.15,
 'England': 45.0,
 'Iran': 31.43,
 'Senegal': 30.77,
 'Netherlands': 39.02,
 'United States': 31.11,
 'Wales': 29.17,
 'Argentina': 46.15,
 'Saudi Arabia': 31.03,
 'Denmark': 30.56,
 'Tunisia': 26.67,
 'Mexico': 34.88,
 'Poland': 25.0,
 'France': 34.65,
 'Australia': 36.0,
 'Morocco': 28.33,
 'Croatia': 33.73,
 'Germany': 34.33,
 'Japan': 30.23,
 'Spain': 32.69,
 'Costa Rica': 54.55,
 'Belgium': 32.35,
 'Canada': 17.65,
 'Switzerland': 30.56,
 'Cameroon': 51.85,
 'Uruguay': 31.25,
 'Korea Republic': 36.73,
 'Portugal': 40.32,
 'Ghana': 40.0,
 'Brazil': 45.56,
 'Serbia': 32.26}

In [ ]:
target_series = pd.Series(target_dict)

In [ ]:
s = target_series.sort_values(ascending=False)

In [ ]:
sorted_target_dict = s.to_dict()

In [ ]:
sorted_target_dict

{'Costa Rica': 54.55,
 'Cameroon': 51.85,
 'Ecuador': 48.15,
 'Argentina': 46.15,
 'Brazil': 45.56,
 'England': 45.0,
 'Portugal': 40.32,
 'Ghana': 40.0,
 'Netherlands': 39.02,
 'Korea Republic': 36.73,
 'Australia': 36.0,
 'Mexico': 34.88,
 'France': 34.65,
 'Germany': 34.33,
 'Croatia': 33.73,
 'Spain': 32.69,
 'Belgium': 32.35,
 'Serbia': 32.26,
 'Iran': 31.43,
 'Uruguay': 31.25,
 'United States': 31.11,
 'Saudi Arabia': 31.03,
 'Senegal': 30.77,
 'Denmark': 30.56,
 'Switzerland': 30.56,
 'Japan': 30.23,
 'Wales': 29.17,
 'Qatar': 28.57,
 'Morocco': 28.33,
 'Tunisia': 26.67,
 'Poland': 25.0,
 'Canada': 17.65}

### `Q-2:` Find out how many times the teams are played in this Fifa Worldcup-2022. On top of this, find out the ranks of the teams.

Note: The `DataFrame.rank()` method takes an optiinal parameter named `method`. This parameter takes different values, but one of them is `average` which is by-default. So, when you do the rank, you will get some 2.5 like floating values. But if you change the value as `first`, then you will get in integers but the datatype will be float. So, try with `method="first"` parameter.

In [ ]:
# code here

fifa_wc_22.head()

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Red Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,5,0,5,2,3,15,0,3,1,9,45,5,159,100,6,4,4,0,15,3,453,387,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,5,5,2,4,1,8,7,6,4,6,55,10,159,103,6,4,2,0,15,4,484,419,26,10,3,17,1,3
2,3,2,England,Iran,B,6,69,6,0,6,13,7,3,10,3,11,5,2,3,11,72,15,133,94,8,6,0,0,9,2,810,733,29,9,8,16,0,3
3,4,2,Iran,England,B,2,20,2,0,1,8,3,4,6,2,3,0,3,1,1,34,1,56,19,1,1,2,0,14,2,232,156,11,3,0,10,1,0
4,5,3,Senegal,Netherlands,A,0,39,0,0,0,15,4,7,8,7,12,4,2,4,13,101,12,143,86,6,6,2,0,13,2,391,326,22,8,6,14,0,0

In [ ]:
def total_matches(Team):
  df = fifa_wc_22[(fifa_wc_22['Team'] == Team) | (fifa_wc_22['Against'] == Team)]
  no_matches = len(df)/2

  return no_matches

In [ ]:
total_matches_list = [total_matches(i) for i in fifa_wc_22['Team'].unique()]

In [ ]:
s = pd.Series(total_matches_list,index=fifa_wc_22['Team'].unique())

In [ ]:
s

Qatar             3.0
Ecuador           3.0
England           5.0
Iran              3.0
Senegal           4.0
Netherlands       5.0
United States     4.0
Wales             3.0
Argentina         7.0
Saudi Arabia      3.0
Denmark           3.0
Tunisia           3.0
Mexico            3.0
Poland            4.0
France            7.0
Australia         4.0
Morocco           7.0
Croatia           7.0
Germany           3.0
Japan             4.0
Spain             4.0
Costa Rica        3.0
Belgium           3.0
Canada            3.0
Switzerland       4.0
Cameroon          3.0
Uruguay           3.0
Korea Republic    4.0
Portugal          5.0
Ghana             3.0
Brazil            5.0
Serbia            3.0
dtype: float64

In [ ]:
fifa_wc_22[(fifa_wc_22['Team'] == 'France') | (fifa_wc_22['Against'] == 'France')]

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Red Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
14,15,8,France,Australia,D,4,56,4,0,4,22,7,9,18,4,30,6,3,8,19,106,26,173,135,32,27,0,0,5,0,734,672,34,17,8,11,0,3
15,16,8,Australia,France,D,1,35,1,0,1,4,1,3,2,2,11,2,5,1,9,66,7,133,84,15,7,3,0,11,0,466,399,9,2,1,5,0,0
44,45,23,France,Denmark,D,2,44,2,0,2,21,6,8,16,5,15,7,4,1,13,105,11,155,105,16,12,1,0,4,1,503,437,23,12,6,10,0,3
45,46,23,Denmark,France,D,1,44,1,0,1,10,2,6,5,5,13,5,3,4,25,105,17,173,132,23,15,2,0,9,1,537,473,18,4,4,5,0,0
74,75,38,Tunisia,France,D,1,30,0,1,1,5,3,2,2,3,11,3,4,0,10,95,9,153,96,21,7,1,0,14,3,328,266,27,4,7,8,0,3
75,76,38,France,Tunisia,D,0,56,0,0,0,9,3,4,4,5,14,6,5,3,21,101,11,138,99,10,4,0,0,6,2,636,566,20,5,8,17,0,0
100,101,51,France,Poland,D,3,48,3,0,3,16,7,7,10,6,15,7,2,9,19,113,14,174,111,26,14,1,0,10,3,540,481,27,4,7,8,0,3
101,102,51,Poland,France,C,1,42,1,0,0,11,3,5,8,3,15,2,2,3,10,85,11,156,97,20,12,2,0,8,1,466,391,18,7,1,11,1,0
118,119,60,England,France,B,1,54,1,0,0,14,6,4,6,8,17,6,4,2,10,88,8,147,108,13,10,1,0,10,1,508,453,22,5,5,14,1,0
119,120,60,France,England,D,2,36,1,1,2,9,5,3,6,3,15,2,7,2,13,79,7,136,87,14,8,3,0,14,2,369,310,13,6,2,11,0,3
122,123,62,France,Morocco,D,2,34,2,0,0,14,2,8,12,2,9,6,3,2,6,67,8,126,85,12,8,0,0,11,4,358,307,5,2,2,13,0,3
126,127,64,Argentina,France,C,3,46,3,0,1,21,9,9,13,8,13,6,8,9,9,163,28,249,172,40,24,4,0,26,4,648,544,20,4,6,22,5,3
127,128,64,France,Argentina,D,3,40,3,0,1,10,5,3,7,3,15,7,5,4,12,69,9,179,107,14,9,3,0,19,4,516,419,24,3,5,28,4,0

In [ ]:
fifa_wc_22

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Red Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,5,0,5,2,3,15,0,3,1,9,45,5,159,100,6,4,4,0,15,3,453,387,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,5,5,2,4,1,8,7,6,4,6,55,10,159,103,6,4,2,0,15,4,484,419,26,10,3,17,1,3
2,3,2,England,Iran,B,6,69,6,0,6,13,7,3,10,3,11,5,2,3,11,72,15,133,94,8,6,0,0,9,2,810,733,29,9,8,16,0,3
3,4,2,Iran,England,B,2,20,2,0,1,8,3,4,6,2,3,0,3,1,1,34,1,56,19,1,1,2,0,14,2,232,156,11,3,0,10,1,0
4,5,3,Senegal,Netherlands,A,0,39,0,0,0,15,4,7,8,7,12,4,2,4,13,101,12,143,86,6,6,2,0,13,2,391,326,22,8,6,14,0,0
5,6,3,Netherlands,Senegal,A,2,41,2,0,1,10,3,4,6,4,11,2,2,7,20,86,10,168,108,10,7,2,0,13,1,457,386,26,7,7,15,0,3
6,7,4,United States,Wales,B,1,51,1,0,1,6,1,4,4,2,14,5,4,4,11,101,12,199,146,23,15,4,0,15,1,569,509,31,4,5,11,0,1
7,8,4,Wales,United States,B,1,39,1,0,0,7,3,3,5,2,7,2,5,2,7,73,9,174,103,17,8,2,0,10,1,409,321,15,6,3,15,1,1
8,9,5,Argentina,Saudi Arabia,C,1,51,1,0,0,14,6,6,10,4,12,4,5,8,18,91,27,195,127,10,8,0,0,7,10,593,525,36,15,9,21,1,0
9,10,5,Saudi Arabia,Argentina,C,2,24,2,0,1,3,2,0,3,0,3,2,3,3,8,65,7,147,73,11,4,6,0,21,1,267,194,12,4,2,17,0,3
10,11,6,Denmark,Tunisia,D,0,50,0,0,0,12,6,4,7,5,17,4,7,6,18,108,12,207,147,9,6,2,0,9,1,602,532,34,15,11,11,0,1
11,12,6,Tunisia,Denmark,D,0,36,0,0,0,12,1,5,7,5,9,2,2,3,6,76,6,188,98,3,2,1,0,10,1,406,324,15,4,9,10,0,1
12,13,7,Mexico,Poland,C,0,49,0,0,0,14,4,7,9,5,20,6,1,3,27,70,16,197,125,10,5,2,0,14,3,500,426,33,6,6,16,0,1
13,14,7,Poland,Mexico,C,0,32,0,0,0,9,2,4,8,1,8,6,6,4,13,68,5,148,73,4,2,1,0,16,0,330,244,12,2,5,16,0,1
14,15,8,France,Australia,D,4,56,4,0,4,22,7,9,18,4,30,6,3,8,19,106,26,173,135,32,27,0,0,5,0,734,672,34,17,8,11,0,3
15,16,8,Australia,France,D,1,35,1,0,1,4,1,3,2,2,11,2,5,1,9,66,7,133,84,15,7,3,0,11,0,466,399,9,2,1,5,0,0
16,17,9,Morocco,Croatia,F,0,30,0,0,0,7,2,0,3,4,8,1,6,0,11,47,4,154,85,4,1,1,0,17,0,365,296,13,2,0,12,0,1
17,18,9,Croatia,Morocco,F,0,53,0,0,0,7,2,2,5,2,12,3,6,5,7,84,9,192,129,8,2,0,0,11,1,670,601,23,3,5,17,0,1
18,19,10,Germany,Japan,E,1,65,1,0,0,25,8,10,15,10,24,9,14,5,21,145,192,256,192,14,11,0,0,6,4,827,753,32,9,6,17,1,0
19,20,10,Japan,Germany,E,2,24,2,0,1,11,3,4,11,0,5,0,3,3,11,43,79,136,79,10,8,0,0,14,4,279,214,15,7,6,10,0,3
20,21,11,Spain,Costa Rica,E,7,71,7,0,3,17,7,8,13,4,30,4,8,6,12,143,17,219,177,17,10,0,0,8,3,1056,994,26,7,5,18,1,3
21,22,11,Costa Rica,Spain,E,0,18,0,0,0,0,0,0,0,0,5,0,1,0,1,32,0,86,47,3,0,2,0,12,7,231,166,9,3,0,11,0,0
22,23,12,Belgium,Canada,F,1,46,1,0,1,9,3,6,6,3,6,3,5,2,6,93,8,175,118,13,6,3,0,11,0,512,439,8,5,4,15,0,3
23,24,12,Canada,Belgium,F,0,43,0,0,0,21,4,12,16,5,17,6,8,5,20,117,15,176,123,23,13,2,0,14,1,448,382,19,6,4,10,0,0
24,25,13,Switzerland,Cameroon,G,1,43,1,0,1,8,3,4,6,2,19,2,11,6,16,112,13,178,123,21,13,2,0,12,2,497,437,28,6,11,11,0,3
25,26,13,Cameroon,Switzerland,G,0,46,0,0,0,7,3,2,6,1,9,12,3,5,18,103,5,182,103,16,4,1,0,10,2,500,424,20,4,5,14,0,0
26,27,14,Uruguay,Korea Republic,H,0,49,0,0,0,10,0,6,7,3,13,4,4,6,14,81,4,146,88,16,7,1,0,7,1,528,459,16,4,4,10,0,1
27,28,14,Korea Republic,Uruguay,H,0,38,0,0,0,6,0,5,1,5,15,0,4,4,19,91,8,185,96,17,8,1,0,10,0,419,340,19,3,3,8,0,1
28,29,15,Portugal,Ghana,H,3,53,3,0,2,11,5,3,7,4,24,6,7,4,10,109,17,197,150,16,11,2,0,14,1,630,575,20,5,3,19,1,3
29,30,15,Ghana,Portugal,H,2,33,2,0,0,8,3,4,2,6,7,9,6,3,3,60,3,157,90,4,1,4,0,19,1,400,343,12,1,3,15,0,0
30,31,16,Brazil,Serbia,G,2,53,2,0,1,24,10,9,11,13,14,9,10,7,20,125,11,184,134,16,10,0,0,7,1,585,526,19,3,6,12,0,3
31,32,16,Serbia,Brazil,G,0,34,0,0,0,4,0,3,1,3,10,3,4,3,7,69,4,140,91,15,6,3,0,12,0,403,341,13,3,4,8,0,0
32,33,17,Wales,Iran,B,0,51,0,0,0,10,3,4,5,5,18,3,8,11,13,101,13,208,129,17,8,1,1,9,2,508,413,20,5,2,12,0,1
33,34,17,Iran,Wales,B,2,33,1,1,1,21,6,6,7,14,7,3,7,4,7,103,9,185,92,24,10,2,0,10,2,295,202,26,4,7,11,0,3
34,35,18,Qatar,Senegal,A,1,42,1,0,1,10,2,7,4,6,7,5,2,5,11,79,9,174,117,13,7,3,0,7,4,424,353,18,5,6,15,0,0
35,36,18,Senegal,Qatar,A,3,48,3,0,2,12,4,6,10,2,26,4,6,4,18,95,12,184,113,19,9,3,0,12,3,511,445,20,6,7,11,0,3
36,37,19,Netherlands,Ecuador,A,1,46,0,1,1,2,1,1,0,2,8,8,2,4,11,78,7,174,117,1,1,0,0,15,1,530,454,11,0,2,16,0,1
37,38,19,Ecuador,Netherlands,A,1,36,1,0,0,14,4,5,9,5,10,5,2,5,4,77,8,177,96,13,7,1,0,12,4,429,353,26,8,5,16,0,1
38,39,20,England,United States,B,0,51,0,0,0,8,3,4,6,2,11,2,7,5,11,102,10,208,147,23,10,0,0,9,1,550,488,13,4,3,15,0,1
39,40,20,United States,England,B,0,40,0,0,0,10,2,7,6,4,12,0,1,6,8,74,6,143,88,15,5,0,0,15,0,427,368,16,2,7,10,0,1
40,41,21,Tunisia,Australia,D,0,50,0,0,0,13,4,5,9,4,12,8,7,6,11,89,13,200,109,23,11,3,0,16,3,501,396,23,5,5,15,0,0
41,42,21,Australia,Tunisia,D,1,31,1,0,1,8,2,3,5,3,11,3,4,7,19,111,8,171,91,19,10,0,0,15,0,334,239,23,4,2,19,0,3
42,43,22,Poland,Saudi Arabia,C,2,30,2,0,1,8,3,3,8,0,7,2,4,8,13,95,14,150,84,22,12,3,0,18,0,303,236,19,8,4,15,0,3
43,44,22,Saudi Arabia,Poland,C,0,57,0,0,0,16,5,9,9,7,21,6,5,7,15,119,22,205,153,27,19,2,0,15,0,560,494,24,4,5,17,0,0
44,45,23,France,Denmark,D,2,44,2,0,2,21,6,8,16,5,15,7,4,1,13,105,11,155,105,16,12,1,0,4,1,503,437,23,12,6,10,0,3
45,46,23,Denmark,France,D,1,44,1,0,1,10,2,6,5,5,13,5,3,4,25,105,17,173,132,23,15,2,0,9,1,537,473,18,4,4,5,0,0
46,47,24,Argentina,Mexico,C,2,50,1,1,2,5,2,3,2,3,10,6,2,4,12,89,2,150,100,10,5,1,0,15,2,533,464,14,2,4,23,0,3
47,48,24,Mexico,Argentina,C,0,36,0,0,0,4,1,2,1,3,8,1,1,2,11,52,5,127,66,13,5,4,0,19,4,356,287,17,4,2,17,0,0
48,49,25,Japan,Costa Rica,E,0,47,0,0,0,14,3,5,7,7,28,6,9,3,10,90,4,166,102,7,5,3,0,22,0,591,522,15,1,5,11,0,0
49,50,25,Costa Rica,Japan,E,1,38,1,0,1,4,1,1,1,3,8,0,3,1,4,53,0,153,85,3,1,3,0,9,2,454,376,5,0,0,22,0,3
50,51,26,Belgium,Morocco,F,0,55,0,0,0,10,4,4,5,5,12,8,3,4,9,91,3,167,123,8,3,1,0,10,3,685,617,24,5,9,17,0,0
51,52,26,Morocco,Belgium,F,2,32,1,1,1,11,4,7,5,6,10,3,2,1,11,51,6,139,87,5,2,1,0,14,3,336,290,9,4,1,13,0,3
52,53,27,Croatia,Canada,F,4,39,3,1,4,13,10,3,9,4,7,3,3,3,3,43,8,97,55,7,2,2,0,13,1,461,390,31,8,5,8,0,3
53,54,27,Canada,Croatia,F,1,45,1,0,1,8,2,3,1,7,8,4,3,4,13,46,5,102,70,2,1,2,0,5,3,514,440,18,5,2,14,0,0
54,55,28,Spain,Germany,E,1,56,1,0,1,7,3,4,3,4,12,3,2,1,5,115,16,186,146,19,13,1,0,13,2,647,565,9,2,6,16,0,1
55,56,28,Germany,Spain,E,1,33,1,0,1,10,4,5,7,3,3,3,4,3,8,95,9,143,83,17,7,3,0,11,5,352,281,13,1,5,15,0,1
56,57,29,Cameroon,Serbia,G,3,38,3,0,3,13,8,3,9,4,5,3,5,4,15,80,15,173,78,22,12,2,0,8,0,364,271,20,1,4,17,0,1
57,58,29,Serbia,Cameroon,G,3,49,2,1,3,16,6,8,11,5,20,4,16,5,12,140,11,184,122,22,12,2,0,13,4,513,433,23,4,3,8,0,1
58,59,30,Korea Republic,Ghana,H,2,53,2,0,2,21,6,8,15,6,22,5,6,8,27,119,19,201,148,24,19,2,0,13,1,540,477,46,16,12,10,0,0
59,60,30,Ghana,Korea Republic,H,3,32,3,0,2,8,3,3,7,1,8,3,4,3,7,56,5,122,66,12,5,2,0,9,1,319,260,13,4,5,14,0,3
60,61,31,Brazil,Switzerland,G,1,51,1,0,1,9,5,2,6,3,19,12,5,5,11,99,16,164,114,20,11,1,0,10,3,565,498,26,3,8,18,0,3
61,62,31,Switzerland,Brazil,G,0,40,0,0,0,4,0,1,2,2,7,3,4,6,10,86,4,173,100,17,4,1,0,17,1,488,414,11,3,3,13,0,0
62,63,32,Portugal,Uruguay,H,2,53,1,1,0,14,4,7,4,10,17,9,4,9,11,127,11,170,112,11,7,3,0,10,2,596,517,16,4,6,15,1,3
63,64,32,Uruguay,Portugal,H,0,35,0,0,0,10,3,6,6,4,13,8,4,5,9,94,6,150,86,17,11,2,0,16,0,390,306,18,5,2,13,0,0
64,65,33,Netherlands,Qatar,A,2,53,2,0,1,12,4,6,9,3,25,9,8,11,21,115,14,198,173,8,7,1,0,5,5,786,738,15,4,4,9,0,3
65,66,33,Qatar,Netherlands,A,0,36,0,0,0,6,4,2,2,4,10,7,5,4,6,86,6,163,116,7,5,0,0,0,0,457,394,18,4,2,24,0,0
66,67,34,Ecuador,Senegal,A,1,46,1,0,1,8,4,2,5,3,13,3,1,6,6,67,1,143,77,3,1,0,0,23,0,448,369,20,6,3,14,0,0
67,68,34,Senegal,Ecuador,A,2,32,2,0,0,15,6,5,11,4,14,0,2,7,10,65,8,159,80,12,8,1,0,11,3,277,200,21,7,6,22,1,3
68,69,35,Wales,England,B,0,33,0,0,0,7,1,3,1,6,7,1,2,0,4,46,1,104,55,4,1,2,0,16,1,325,261,4,1,1,10,0,0
69,70,35,England,Wales,B,3,58,2,1,2,17,7,6,13,4,10,4,7,12,9,97,9,167,131,13,8,0,0,9,1,588,529,17,7,6,17,0,3
70,71,36,Iran,United States,B,0,42,0,0,0,6,2,4,5,1,12,2,5,3,4,77,9,195,102,23,8,3,0,13,2,463,379,18,3,1,11,0,0
71,72,36,United States,Iran,B,1,45,1,0,1,12,5,4,8,4,11,7,7,5,17,117,17,185,133,27,16,1,0,10,1,470,413,22,2,5,15,0,3
72,73,37,Australia,Denmark,D,1,24,1,0,1,8,4,2,3,5,9,2,2,1,11,93,8,166,81,17,7,2,0,11,1,286,187,11,2,2,13,0,3
73,74,37,Denmark,Australia,D,0,60,0,0,0,14,3,7,11,3,27,5,4,6,19,130,17,241,172,21,17,1,0,10,3,650,567,32,5,6,12,0,0
74,75,38,Tunisia,France,D,1,30,0,1,1,5,3,2,2,3,11,3,4,0,10,95,9,153,96,21,7,1,0,14,3,328,266,27,4,7,8,0,3
75,76,38,France,Tunisia,D,0,56,0,0,0,9,3,4,4,5,14,6,5,3,21,101,11,138,99,10,4,0,0,6,2,636,566,20,5,8,17,0,0
76,77,39,Poland,Argentina,C,0,24,0,0,0,4,0,2,1,3,6,2,1,2,3,46,3,79,44,4,0,1,0,6,0,321,261,5,2,1,12,0,0
77,78,39,Argentina,Poland,C,2,67,1,1,2,25,13,8,10,15,25,8,7,10,26,150,36,141,126,20,16,1,0,11,0,862,814,22,5,9,5,0,3
78,79,40,Saudi Arabia,Mexico,C,1,29,1,0,1,10,2,8,6,4,5,3,4,3,11,95,6,178,86,17,5,6,0,20,2,297,197,9,2,1,23,0,0
79,80,40,Mexico,Saudi Arabia,C,2,55,1,1,1,25,10,8,10,15,16,5,3,7,16,119,17,198,121,33,16,1,0,18,6,412,336,34,6,8,22,0,3
80,81,41,Croatia,Belgium,F,0,46,0,0,0,11,4,6,7,4,23,7,3,2,12,120,17,226,178,14,8,0,0,7,4,589,519,28,7,2,9,0,1
81,82,41,Belgium,Croatia,F,0,46,0,0,0,15,4,7,12,3,18,5,7,4,9,86,11,195,123,9,6,1,0,9,0,624,557,27,7,4,11,0,1
82,83,42,Canada,Morocco,F,1,45,0,0,0,5,0,4,4,1,22,4,2,6,11,75,9,152,89,9,6,4,0,14,4,536,476,24,6,6,18,0,0
83,84,42,Morocco,Canada,F,2,36,1,1,1,7,2,3,4,3,6,0,3,4,5,52,7,157,82,8,2,0,0,14,4,391,315,9,1,2,18,0,3
84,85,43,Japan,Spain,E,2,14,1,1,2,6,3,2,4,2,2,3,1,2,5,50,10,104,57,14,8,3,0,9,2,225,167,6,3,0,8,0,3
85,86,43,Spain,Japan,E,1,78,1,0,1,14,5,3,7,7,30,9,6,11,22,151,17,190,140,21,15,0,0,6,2,1070,992,20,2,2,11,0,0
86,87,44,Costa Rica,Germany,E,2,26,1,0,0,7,5,1,5,2,7,5,3,1,1,118,10,154,103,13,7,1,0,3,4,347,269,12,3,1,12,0,0
87,88,44,Germany,Costa Rica,E,4,61,4,0,4,32,11,17,24,8,29,13,13,12,15,167,28,193,159,34,25,0,0,9,3,727,661,38,12,14,7,0,3
88,89,45,Ghana,Uruguay,H,0,46,0,0,0,9,4,4,4,5,12,5,8,4,12,93,8,188,111,13,5,2,0,18,2,460,377,20,2,5,12,0,0
89,90,45,Uruguay,Ghana,H,2,39,2,0,1,12,7,5,7,5,7,2,13,3,17,186,14,186,124,24,14,3,0,11,2,446,361,15,4,2,20,0,3
90,91,46,Korea Republic,Portugal,H,2,34,2,0,0,12,6,4,6,6,9,7,5,2,7,68,8,139,87,11,6,2,0,9,1,359,304,13,3,5,15,0,3
91,92,46,Portugal,Korea Republic,H,1,55,1,0,1,12,4,6,5,7,23,7,5,8,12,109,12,178,123,21,12,0,0,11,5,606,541,22,6,4,10,0,0
92,93,47,Serbia,Switzerland,G,2,45,2,0,1,11,4,6,10,1,17,6,4,4,10,86,7,157,95,10,5,7,0,18,0,476,390,23,6,2,14,0,0
93,94,47,Switzerland,Serbia,G,3,41,3,0,3,14,7,3,10,4,14,7,3,1,12,111,10,157,95,20,8,4,0,13,0,403,325,13,4,0,18,0,3
94,95,48,Cameroon,Brazil,G,1,31,1,0,1,7,3,3,5,2,8,8,4,4,9,73,9,144,92,16,7,5,1,14,0,295,239,12,3,3,15,0,3
95,96,48,Brazil,Cameroon,G,0,56,0,0,0,19,6,11,14,5,20,5,6,7,13,156,9,181,145,15,9,2,0,14,1,548,491,28,8,11,14,0,0
96,97,49,Netherlands,United States,A,3,35,3,0,3,12,6,5,8,4,4,2,4,7,10,84,7,184,115,14,7,2,0,10,0,403,331,15,5,4,8,0,3
97,98,49,United States,Netherlands,B,1,52,1,0,1,17,6,5,11,6,13,8,4,9,15,107,19,204,145,15,12,0,0,5,3,572,499,40,9,5,10,0,0
98,99,50,Argentina,Australia,C,2,53,2,0,1,14,5,7,11,3,15,6,11,2,17,127,8,181,135,16,8,0,0,8,4,711,635,6,1,1,15,0,3
99,100,50,Australia,Argentina,D,1,35,0,0,0,5,2,2,3,2,8,1,2,6,9,60,8,146,92,12,7,2,0,15,0,450,381,15,2,3,11,0,0
100,101,51,France,Poland,D,3,48,3,0,3,16,7,7,10,6,15,7,2,9,19,113,14,174,111,26,14,1,0,10,3,540,481,27,4,7,8,0,3
101,102,51,Poland,France,C,1,42,1,0,0,11,3,5,8,3,15,2,2,3,10,85,11,156,97,20,12,2,0,8,1,466,391,18,7,1,11,1,0
102,103,52,England,Senegal,B,3,54,3,0,3,8,4,4,7,1,17,6,2,2,13,114,11,184,129,16,12,0,0,16,0,597,523,19,7,3,12,0,3
103,104,52,Senegal,England,A,0,35,0,0,0,10,2,6,4,6,8,1,0,4,9,67,7,159,86,15,7,1,0,12,0,393,320,13,3,3,16,0,0
104,105,53,Japan,Croatia,E,1,36,1,0,1,12,4,4,5,7,14,6,6,6,18,87,8,253,137,7,3,0,0,13,3,545,430,31,6,8,16,1,0
105,106,53,Croatia,Japan,F,1,50,1,0,1,17,4,6,10,7,18,7,9,6,28,112,16,259,153,12,8,2,0,16,0,724,633,53,25,5,16,3,3
106,107,54,Brazil,Korea Republic,G,4,47,4,0,3,18,9,8,14,4,20,5,5,7,15,112,17,193,145,21,17,0,0,8,0,616,556,18,4,5,16,1,3
107,108,54,Korea Republic,Brazil,H,1,44,0,1,0,10,6,2,6,4,19,4,3,5,21,126,15,188,137,20,14,1,0,13,5,548,486,14,1,4,8,0,0
108,109,55,Morocco,Spain,F,0,20,0,0,0,6,3,3,3,3,11,1,0,2,8,66,10,155,86,3,3,1,0,15,5,331,235,11,4,0,18,3,3
109,110,55,Spain,Morocco,E,0,63,0,0,0,14,2,6,9,5,36,10,8,19,29,136,27,237,164,15,13,1,0,14,4,1050,975,29,5,8,20,0,0
110,111,56,Portugal,Switzerland,H,6,43,6,0,5,14,9,2,9,5,8,3,6,6,8,86,9,165,98,16,8,0,0,12,3,461,392,14,6,6,13,0,3
111,112,56,Switzerland,Portugal,G,1,48,1,0,0,10,1,7,5,5,18,2,6,2,8,94,8,167,107,17,7,2,0,10,3,512,436,15,1,6,15,0,0
112,113,57,Croatia,Brazil,F,1,45,1,0,1,9,1,4,5,4,19,4,2,5,27,131,10,240,180,16,10,2,0,22,3,715,632,22,5,3,27,4,3
113,114,57,Brazil,Croatia,G,1,45,1,0,1,20,11,4,12,8,25,10,15,8,20,111,11,185,121,19,10,3,0,24,3,695,625,25,6,7,25,2,0
114,115,58,Netherlands,Argentina,A,2,45,2,0,2,5,2,2,3,2,11,7,9,3,15,112,5,194,130,15,6,4,0,30,1,651,557,22,4,2,20,3,0
115,116,58,Argentina,Netherlands,C,2,44,2,0,1,15,6,8,5,10,7,7,13,6,17,104,7,203,122,24,8,8,0,18,2,603,511,16,4,8,30,5,3
116,117,59,Morocco,Portugal,F,1,22,1,0,1,9,3,6,5,4,4,1,4,1,3,48,6,128,63,13,3,3,1,15,2,229,171,8,3,3,11,0,3
117,118,59,Portugal,Morocco,H,0,65,0,0,0,11,3,6,7,4,27,10,8,7,20,104,19,167,118,23,18,1,0,9,2,678,592,33,7,9,17,0,0
118,119,60,England,France,B,1,54,1,0,0,14,6,4,6,8,17,6,4,2,10,88,8,147,108,13,10,1,0,10,1,508,453,22,5,5,14,1,0
119,120,60,France,England,D,2,36,1,1,2,9,5,3,6,3,15,2,7,2,13,79,7,136,87,14,8,3,0,14,2,369,310,13,6,2,11,0,3
120,121,61,Argentina,Croatia,C,3,34,3,0,1,10,7,2,7,3,8,9,7,3,2,121,7,147,91,17,7,2,0,15,1,408,344,8,2,2,6,1,3
121,122,61,Croatia,Argentina,F,0,54,0,0,0,12,3,7,6,6,18,6,7,4,8,108,3,182,129,9,1,2,0,8,0,624,551,20,4,4,16,0,0
122,123,62,France,Morocco,D,2,34,2,0,0,14,2,8,12,2,9,6,3,2,6,67,8,126,85,12,8,0,0,11,4,358,307,5,2,2,13,0,3
123,124,62,Morocco,Fram,F,0,55,0,0,0,13,1,6,8,5,10,4,6,6,19,74,15,141,95,18,11,1,0,11,3,583,518,22,1,3,15,0,0
124,125,63,Croatia,Morocco,F,2,45,2,0,2,14,4,8,7,7,20,8,3,2,7,106,15,164,114,23,12,0,0,13,2,491,430,21,3,6,13,0,3
125,126,63,Morocco,Croatia,F,1,45,1,0,0,7,2,5,5,2,13,1,3,7,16,75,10,150,97,14,8,2,0,11,2,494,428,20,5,3,15,0,0
126,127,64,Argentina,France,C,3,46,3,0,1,21,9,9,13,8,13,6,8,9,9,163,28,249,172,40,24,4,0,26,4,648,544,20,4,6,22,5,3
127,128,64,France,Argentina,D,3,40,3,0,1,10,5,3,7,3,15,7,5,4,12,69,9,179,107,14,9,3,0,19,4,516,419,24,3,5,28,4,0

In [ ]:
fifa_wc_22.loc[123,'Against'] = 'France'

In [ ]:
 def total_points(Team):
  df = fifa_wc_22[fifa_wc_22['Team'] == Team]
  points = df['Pts'].sum()

  return points

In [ ]:
total_points_list = [total_points(i) for i in fifa_wc_22['Team'].unique()]

In [ ]:
s = pd.Series(total_points_list,index=fifa_wc_22['Team'].unique())

In [ ]:
s.sort_values(ascending=False).rank(ascending=False,method='first')

Argentina          1.0
France             2.0
Croatia            3.0
Morocco            4.0
Netherlands        5.0
England            6.0
Brazil             7.0
Portugal           8.0
Senegal            9.0
Switzerland       10.0
Japan             11.0
Australia         12.0
United States     13.0
Germany           14.0
Uruguay           15.0
Cameroon          16.0
Belgium           17.0
Spain             18.0
Ecuador           19.0
Poland            20.0
Mexico            21.0
Tunisia           22.0
Korea Republic    23.0
Costa Rica        24.0
Ghana             25.0
Saudi Arabia      26.0
Iran              27.0
Wales             28.0
Serbia            29.0
Denmark           30.0
Canada            31.0
Qatar             32.0
dtype: float64

### `Q-3:` Find out these below topics:
- The information about the Fifa worldcup dataset.
- The description about the Fifa worldcup dataset
- Check is there any missing values, if there is any missing values, fill that value with the average value for that particular column.
- Drop all the duplicate rows permanently.
- Drop the columns: "Sl No", "Match No.", "Red Cards" and "Pts" permanently.

In [ ]:
# code here

fifa_wc_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 38 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Sl. No                           128 non-null    int64
 1   Match No.                        128 non-null    int64
 2   Team                             128 non-null    object
 3   Against                          128 non-null    object
 4   Group                            128 non-null    object
 5   Goal                             128 non-null    int64
 6   Possession (%)                   128 non-null    int64
 7   Inside Penalty Area              128 non-null    int64
 8   Outside Penalty Area             128 non-null    int64
 9   Assists                          128 non-null    int64
 10  Total Attempts                   128 non-null    int64
 11  On Target                        128 non-null    int64
 12  Off Target                       128 non-null    int64
 13  Target in Penalty                128 non-null    int64
 14  Target from Outside              128 non-null    int64
 15  Left Channel                     128 non-null    int64
 16  Left Inside Channel              128 non-null    int64
 17  Central Channel                  128 non-null    int64
 18  Right Inside Channel             128 non-null    int64
 19  Right Channel                    128 non-null    int64
 20  Receptions MD                    128 non-null    int64
 21  Receptions D                     128 non-null    int64
 22  Attempted Line Breaks            128 non-null    int64
 23  Completed Line Breaks            128 non-null    int64
 24  Attempted Defensive Line Breaks  128 non-null    int64
 25  Completed Defensive Line Breaks  128 non-null    int64
 26  Yellow Cards                     128 non-null    int64
 27  Red Cards                        128 non-null    int64
 28  Fouls Against                    128 non-null    int64
 29  Offsides                         128 non-null    int64
 30  Passes                           128 non-null    int64
 31  Passes Completed                 128 non-null    int64
 32  Crosses                          128 non-null    int64
 33  Crosses Completed                128 non-null    int64
 34  Corners                          128 non-null    int64
 35  Free Kicks                       128 non-null    int64
 36  Penalties Scored                 128 non-null    int64
 37  Pts                              128 non-null    int64
dtypes: int64(35), object(3)
memory usage: 38.1+ KB

In [ ]:
fifa_wc_22.describe()

,Sl. No,Match No.,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Red Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
count,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000
mean,64.500000,32.500000,1.343750,43.476562,1.203125,0.117188,0.914062,11.257812,4.007812,4.835938,6.914062,4.343750,13.562500,4.671875,4.906250,4.648438,12.234375,92.703125,12.453125,169.281250,109.476562,14.812500,8.265625,1.726562,0.023438,12.320312,1.976562,502.859375,430.929688,19.523438,4.898438,4.468750,14.250000,0.335938,1.429688
std,37.094474,18.545539,1.342448,11.442403,1.324270,0.322907,1.150333,5.406683,2.588576,2.610630,3.998085,2.733397,6.901729,2.886595,3.080131,2.936573,6.176517,29.440547,18.152399,34.120661,30.776298,7.230458,5.101311,1.514834,0.151883,4.691983,1.731891,160.160487,160.893724,8.596799,3.520111,2.774852,4.712189,0.941412,1.389973
min,1.000000,1.000000,0.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,1.000000,32.000000,0.000000,56.000000,19.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,225.000000,156.000000,4.000000,0.000000,0.000000,5.000000,0.000000,0.000000
25%,32.750000,16.750000,0.000000,35.000000,0.000000,0.000000,0.000000,7.750000,2.000000,3.000000,4.000000,3.000000,8.000000,2.000000,3.000000,3.000000,8.000000,72.750000,7.000000,149.500000,87.750000,10.000000,5.000000,1.000000,0.000000,9.000000,1.000000,398.250000,323.250000,13.000000,3.000000,2.000000,11.000000,0.000000,0.000000
50%,64.500000,32.500000,1.000000,45.000000,1.000000,0.000000,1.000000,10.000000,4.000000,4.000000,6.000000,4.000000,12.000000,4.500000,4.000000,4.000000,11.000000,93.000000,9.000000,170.500000,106.000000,15.000000,8.000000,2.000000,0.000000,12.000000,2.000000,495.500000,419.000000,19.000000,4.000000,4.000000,14.000000,0.000000,1.000000
75%,96.250000,48.250000,2.000000,51.000000,2.000000,0.000000,1.000000,14.000000,6.000000,6.000000,9.000000,5.000000,18.000000,7.000000,6.250000,6.000000,16.250000,111.250000,14.000000,188.000000,129.000000,20.000000,11.000000,2.000000,0.000000,15.000000,3.000000,589.500000,519.750000,24.000000,6.000000,6.000000,17.000000,0.000000,3.000000
max,128.000000,64.000000,7.000000,78.000000,7.000000,1.000000,6.000000,32.000000,13.000000,17.000000,24.000000,15.000000,36.000000,13.000000,16.000000,19.000000,29.000000,186.000000,192.000000,259.000000,192.000000,40.000000,27.000000,8.000000,1.000000,30.000000,10.000000,1070.000000,994.000000,53.000000,25.000000,14.000000,30.000000,5.000000,3.000000

In [ ]:
fifa_wc_22.isnull().sum().sort_values(ascending=False)

Sl. No                             0
Fouls Against                      0
Receptions D                       0
Attempted Line Breaks              0
Completed Line Breaks              0
Attempted Defensive Line Breaks    0
Completed Defensive Line Breaks    0
Yellow Cards                       0
Red Cards                          0
Offsides                           0
Match No.                          0
Passes                             0
Passes Completed                   0
Crosses                            0
Crosses Completed                  0
Corners                            0
Free Kicks                         0
Penalties Scored                   0
Receptions MD                      0
Right Channel                      0
Right Inside Channel               0
Central Channel                    0
Team                               0
Against                            0
Group                              0
Goal                               0
Possession (%)                     0
Inside Penalty Area                0
Outside Penalty Area               0
Assists                            0
Total Attempts                     0
On Target                          0
Off Target                         0
Target in Penalty                  0
Target from Outside                0
Left Channel                       0
Left Inside Channel                0
Pts                                0
dtype: int64

In [ ]:
fifa_wc_22.duplicated().sum()

0

In [ ]:
# Drop "Sl No", "Match No.", "Red Cards" and "Pts" permanently.

fifa_wc_22.drop(columns=["Sl. No", "Match No.", "Red Cards", "Pts"],inplace=True)

In [ ]:
fifa_wc_22.head(3)

,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored
0,Qatar,Ecuador,A,0,40,0,0,0,5,0,5,2,3,15,0,3,1,9,45,5,159,100,6,4,4,15,3,453,387,10,5,1,19,0
1,Ecuador,Qatar,A,2,46,2,0,1,5,5,2,4,1,8,7,6,4,6,55,10,159,103,6,4,2,15,4,484,419,26,10,3,17,1
2,England,Iran,B,6,69,6,0,6,13,7,3,10,3,11,5,2,3,11,72,15,133,94,8,6,0,9,2,810,733,29,9,8,16,0

###`Q-4:` Do these below operations:
- Find out the rank based on the "Team" column and save the result by adding a new column named "Rank".
- Change the datatype of this column to integer by using `np.int16`
- Set the index of the DataFrame by using this "Rank" column permanently.
- After that, sort the dataframe based on the "Rank" index.

In [ ]:
# code here
fifa_wc_22['Rank'] = fifa_wc_22['Team'].rank()

In [ ]:
fifa_wc_22.head(3)

,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Rank
0,Qatar,Ecuador,A,0,40,0,0,0,5,0,5,2,3,15,0,3,1,9,45,5,159,100,6,4,4,15,3,453,387,10,5,1,19,0,96
1,Ecuador,Qatar,A,2,46,2,0,1,5,5,2,4,1,8,7,6,4,6,55,10,159,103,6,4,2,15,4,484,419,26,10,3,17,1,40
2,England,Iran,B,6,69,6,0,6,13,7,3,10,3,11,5,2,3,11,72,15,133,94,8,6,0,9,2,810,733,29,9,8,16,0,44

In [ ]:
fifa_wc_22['Rank'] = fifa_wc_22['Rank'].astype('int16')

In [ ]:
fifa_wc_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 35 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Team                             128 non-null    object
 1   Against                          128 non-null    object
 2   Group                            128 non-null    object
 3   Goal                             128 non-null    int64
 4   Possession (%)                   128 non-null    int64
 5   Inside Penalty Area              128 non-null    int64
 6   Outside Penalty Area             128 non-null    int64
 7   Assists                          128 non-null    int64
 8   Total Attempts                   128 non-null    int64
 9   On Target                        128 non-null    int64
 10  Off Target                       128 non-null    int64
 11  Target in Penalty                128 non-null    int64
 12  Target from Outside              128 non-null    int64
 13  Left Channel                     128 non-null    int64
 14  Left Inside Channel              128 non-null    int64
 15  Central Channel                  128 non-null    int64
 16  Right Inside Channel             128 non-null    int64
 17  Right Channel                    128 non-null    int64
 18  Receptions MD                    128 non-null    int64
 19  Receptions D                     128 non-null    int64
 20  Attempted Line Breaks            128 non-null    int64
 21  Completed Line Breaks            128 non-null    int64
 22  Attempted Defensive Line Breaks  128 non-null    int64
 23  Completed Defensive Line Breaks  128 non-null    int64
 24  Yellow Cards                     128 non-null    int64
 25  Fouls Against                    128 non-null    int64
 26  Offsides                         128 non-null    int64
 27  Passes                           128 non-null    int64
 28  Passes Completed                 128 non-null    int64
 29  Crosses                          128 non-null    int64
 30  Crosses Completed                128 non-null    int64
 31  Corners                          128 non-null    int64
 32  Free Kicks                       128 non-null    int64
 33  Penalties Scored                 128 non-null    int64
 34  Rank                             128 non-null    int16
dtypes: int16(1), int64(31), object(3)
memory usage: 34.4+ KB

In [ ]:
fifa_wc_22.set_index('Rank',inplace=True)

In [ ]:
fifa_wc_22.head()

,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored
Rank,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
96,Qatar,Ecuador,A,0,40,0,0,0,5,0,5,2,3,15,0,3,1,9,45,5,159,100,6,4,4,15,3,453,387,10,5,1,19,0
40,Ecuador,Qatar,A,2,46,2,0,1,5,5,2,4,1,8,7,6,4,6,55,10,159,103,6,4,2,15,4,484,419,26,10,3,17,1
44,England,Iran,B,6,69,6,0,6,13,7,3,10,3,11,5,2,3,11,72,15,133,94,8,6,0,9,2,810,733,29,9,8,16,0
61,Iran,England,B,2,20,2,0,1,8,3,4,6,2,3,0,3,1,1,34,1,56,19,1,1,2,14,2,232,156,11,3,0,10,1
102,Senegal,Netherlands,A,0,39,0,0,0,15,4,7,8,7,12,4,2,4,13,101,12,143,86,6,6,2,13,2,391,326,22,8,6,14,0

In [ ]:
fifa_wc_22 = fifa_wc_22.sort_index()

In [ ]:
fifa_wc_22

,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored
Rank,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
4,Argentina,Mexico,C,2,50,1,1,2,5,2,3,2,3,10,6,2,4,12,89,2,150,100,10,5,1,15,2,533,464,14,2,4,23,0
4,Argentina,Netherlands,C,2,44,2,0,1,15,6,8,5,10,7,7,13,6,17,104,7,203,122,24,8,8,18,2,603,511,16,4,8,30,5
4,Argentina,Australia,C,2,53,2,0,1,14,5,7,11,3,15,6,11,2,17,127,8,181,135,16,8,0,8,4,711,635,6,1,1,15,0
4,Argentina,France,C,3,46,3,0,1,21,9,9,13,8,13,6,8,9,9,163,28,249,172,40,24,4,26,4,648,544,20,4,6,22,5
4,Argentina,Poland,C,2,67,1,1,2,25,13,8,10,15,25,8,7,10,26,150,36,141,126,20,16,1,11,0,862,814,22,5,9,5,0
4,Argentina,Saudi Arabia,C,1,51,1,0,0,14,6,6,10,4,12,4,5,8,18,91,27,195,127,10,8,0,7,10,593,525,36,15,9,21,1
4,Argentina,Croatia,C,3,34,3,0,1,10,7,2,7,3,8,9,7,3,2,121,7,147,91,17,7,2,15,1,408,344,8,2,2,6,1
9,Australia,France,D,1,35,1,0,1,4,1,3,2,2,11,2,5,1,9,66,7,133,84,15,7,3,11,0,466,399,9,2,1,5,0
9,Australia,Tunisia,D,1,31,1,0,1,8,2,3,5,3,11,3,4,7,19,111,8,171,91,19,10,0,15,0,334,239,23,4,2,19,0
9,Australia,Denmark,D,1,24,1,0,1,8,4,2,3,5,9,2,2,1,11,93,8,166,81,17,7,2,11,1,286,187,11,2,2,13,0
9,Australia,Argentina,D,1,35,0,0,0,5,2,2,3,2,8,1,2,6,9,60,8,146,92,12,7,2,15,0,450,381,15,2,3,11,0
13,Belgium,Canada,F,1,46,1,0,1,9,3,6,6,3,6,3,5,2,6,93,8,175,118,13,6,3,11,0,512,439,8,5,4,15,0
13,Belgium,Croatia,F,0,46,0,0,0,15,4,7,12,3,18,5,7,4,9,86,11,195,123,9,6,1,9,0,624,557,27,7,4,11,0
13,Belgium,Morocco,F,0,55,0,0,0,10,4,4,5,5,12,8,3,4,9,91,3,167,123,8,3,1,10,3,685,617,24,5,9,17,0
17,Brazil,Croatia,G,1,45,1,0,1,20,11,4,12,8,25,10,15,8,20,111,11,185,121,19,10,3,24,3,695,625,25,6,7,25,2
17,Brazil,Korea Republic,G,4,47,4,0,3,18,9,8,14,4,20,5,5,7,15,112,17,193,145,21,17,0,8,0,616,556,18,4,5,16,1
17,Brazil,Serbia,G,2,53,2,0,1,24,10,9,11,13,14,9,10,7,20,125,11,184,134,16,10,0,7,1,585,526,19,3,6,12,0
17,Brazil,Switzerland,G,1,51,1,0,1,9,5,2,6,3,19,12,5,5,11,99,16,164,114,20,11,1,10,3,565,498,26,3,8,18,0
17,Brazil,Cameroon,G,0,56,0,0,0,19,6,11,14,5,20,5,6,7,13,156,9,181,145,15,9,2,14,1,548,491,28,8,11,14,0
21,Cameroon,Brazil,G,1,31,1,0,1,7,3,3,5,2,8,8,4,4,9,73,9,144,92,16,7,5,14,0,295,239,12,3,3,15,0
21,Cameroon,Serbia,G,3,38,3,0,3,13,8,3,9,4,5,3,5,4,15,80,15,173,78,22,12,2,8,0,364,271,20,1,4,17,0
21,Cameroon,Switzerland,G,0,46,0,0,0,7,3,2,6,1,9,12,3,5,18,103,5,182,103,16,4,1,10,2,500,424,20,4,5,14,0
24,Canada,Morocco,F,1,45,0,0,0,5,0,4,4,1,22,4,2,6,11,75,9,152,89,9,6,4,14,4,536,476,24,6,6,18,0
24,Canada,Belgium,F,0,43,0,0,0,21,4,12,16,5,17,6,8,5,20,117,15,176,123,23,13,2,14,1,448,382,19,6,4,10,0
24,Canada,Croatia,F,1,45,1,0,1,8,2,3,1,7,8,4,3,4,13,46,5,102,70,2,1,2,5,3,514,440,18,5,2,14,0
27,Costa Rica,Germany,E,2,26,1,0,0,7,5,1,5,2,7,5,3,1,1,118,10,154,103,13,7,1,3,4,347,269,12,3,1,12,0
27,Costa Rica,Spain,E,0,18,0,0,0,0,0,0,0,0,5,0,1,0,1,32,0,86,47,3,0,2,12,7,231,166,9,3,0,11,0
27,Costa Rica,Japan,E,1,38,1,0,1,4,1,1,1,3,8,0,3,1,4,53,0,153,85,3,1,3,9,2,454,376,5,0,0,22,0
32,Croatia,Japan,F,1,50,1,0,1,17,4,6,10,7,18,7,9,6,28,112,16,259,153,12,8,2,16,0,724,633,53,25,5,16,3
32,Croatia,Morocco,F,2,45,2,0,2,14,4,8,7,7,20,8,3,2,7,106,15,164,114,23,12,0,13,2,491,430,21,3,6,13,0
32,Croatia,Argentina,F,0,54,0,0,0,12,3,7,6,6,18,6,7,4,8,108,3,182,129,9,1,2,8,0,624,551,20,4,4,16,0
32,Croatia,Canada,F,4,39,3,1,4,13,10,3,9,4,7,3,3,3,3,43,8,97,55,7,2,2,13,1,461,390,31,8,5,8,0
32,Croatia,Belgium,F,0,46,0,0,0,11,4,6,7,4,23,7,3,2,12,120,17,226,178,14,8,0,7,4,589,519,28,7,2,9,0
32,Croatia,Morocco,F,0,53,0,0,0,7,2,2,5,2,12,3,6,5,7,84,9,192,129,8,2,0,11,1,670,601,23,3,5,17,0
32,Croatia,Brazil,F,1,45,1,0,1,9,1,4,5,4,19,4,2,5,27,131,10,240,180,16,10,2,22,3,715,632,22,5,3,27,4
37,Denmark,Tunisia,D,0,50,0,0,0,12,6,4,7,5,17,4,7,6,18,108,12,207,147,9,6,2,9,1,602,532,34,15,11,11,0
37,Denmark,France,D,1,44,1,0,1,10,2,6,5,5,13,5,3,4,25,105,17,173,132,23,15,2,9,1,537,473,18,4,4,5,0
37,Denmark,Australia,D,0,60,0,0,0,14,3,7,11,3,27,5,4,6,19,130,17,241,172,21,17,1,10,3,650,567,32,5,6,12,0
40,Ecuador,Senegal,A,1,46,1,0,1,8,4,2,5,3,13,3,1,6,6,67,1,143,77,3,1,0,23,0,448,369,20,6,3,14,0
40,Ecuador,Qatar,A,2,46,2,0,1,5,5,2,4,1,8,7,6,4,6,55,10,159,103,6,4,2,15,4,484,419,26,10,3,17,1
40,Ecuador,Netherlands,A,1,36,1,0,0,14,4,5,9,5,10,5,2,5,4,77,8,177,96,13,7,1,12,4,429,353,26,8,5,16,0
44,England,Iran,B,6,69,6,0,6,13,7,3,10,3,11,5,2,3,11,72,15,133,94,8,6,0,9,2,810,733,29,9,8,16,0
44,England,France,B,1,54,1,0,0,14,6,4,6,8,17,6,4,2,10,88,8,147,108,13,10,1,10,1,508,453,22,5,5,14,1
44,England,Wales,B,3,58,2,1,2,17,7,6,13,4,10,4,7,12,9,97,9,167,131,13,8,0,9,1,588,529,17,7,6,17,0
44,England,Senegal,B,3,54,3,0,3,8,4,4,7,1,17,6,2,2,13,114,11,184,129,16,12,0,16,0,597,523,19,7,3,12,0
44,England,United States,B,0,51,0,0,0,8,3,4,6,2,11,2,7,5,11,102,10,208,147,23,10,0,9,1,550,488,13,4,3,15,0
50,France,Australia,D,4,56,4,0,4,22,7,9,18,4,30,6,3,8,19,106,26,173,135,32,27,0,5,0,734,672,34,17,8,11,0
50,France,Poland,D,3,48,3,0,3,16,7,7,10,6,15,7,2,9,19,113,14,174,111,26,14,1,10,3,540,481,27,4,7,8,0
50,France,England,D,2,36,1,1,2,9,5,3,6,3,15,2,7,2,13,79,7,136,87,14,8,3,14,2,369,310,13,6,2,11,0
50,France,Argentina,D,3,40,3,0,1,10,5,3,7,3,15,7,5,4,12,69,9,179,107,14,9,3,19,4,516,419,24,3,5,28,4
50,France,Denmark,D,2,44,2,0,2,21,6,8,16,5,15,7,4,1,13,105,11,155,105,16,12,1,4,1,503,437,23,12,6,10,0
50,France,Tunisia,D,0,56,0,0,0,9,3,4,4,5,14,6,5,3,21,101,11,138,99,10,4,0,6,2,636,566,20,5,8,17,0
50,France,Morocco,D,2,34,2,0,0,14,2,8,12,2,9,6,3,2,6,67,8,126,85,12,8,0,11,4,358,307,5,2,2,13,0
55,Germany,Costa Rica,E,4,61,4,0,4,32,11,17,24,8,29,13,13,12,15,167,28,193,159,34,25,0,9,3,727,661,38,12,14,7,0
55,Germany,Spain,E,1,33,1,0,1,10,4,5,7,3,3,3,4,3,8,95,9,143,83,17,7,3,11,5,352,281,13,1,5,15,0
55,Germany,Japan,E,1,65,1,0,0,25,8,10,15,10,24,9,14,5,21,145,192,256,192,14,11,0,6,4,827,753,32,9,6,17,1
58,Ghana,Uruguay,H,0,46,0,0,0,9,4,4,4,5,12,5,8,4,12,93,8,188,111,13,5,2,18,2,460,377,20,2,5,12,0
58,Ghana,Portugal,H,2,33,2,0,0,8,3,4,2,6,7,9,6,3,3,60,3,157,90,4,1,4,19,1,400,343,12,1,3,15,0
58,Ghana,Korea Republic,H,3,32,3,0,2,8,3,3,7,1,8,3,4,3,7,56,5,122,66,12,5,2,9,1,319,260,13,4,5,14,0
61,Iran,England,B,2,20,2,0,1,8,3,4,6,2,3,0,3,1,1,34,1,56,19,1,1,2,14,2,232,156,11,3,0,10,1
61,Iran,United States,B,0,42,0,0,0,6,2,4,5,1,12,2,5,3,4,77,9,195,102,23,8,3,13,2,463,379,18,3,1,11,0
61,Iran,Wales,B,2,33,1,1,1,21,6,6,7,14,7,3,7,4,7,103,9,185,92,24,10,2,10,2,295,202,26,4,7,11,0
64,Japan,Costa Rica,E,0,47,0,0,0,14,3,5,7,7,28,6,9,3,10,90,4,166,102,7,5,3,22,0,591,522,15,1,5,11,0
64,Japan,Croatia,E,1,36,1,0,1,12,4,4,5,7,14,6,6,6,18,87,8,253,137,7,3,0,13,3,545,430,31,6,8,16,1
64,Japan,Spain,E,2,14,1,1,2,6,3,2,4,2,2,3,1,2,5,50,10,104,57,14,8,3,9,2,225,167,6,3,0,8,0
64,Japan,Germany,E,2,24,2,0,1,11,3,4,11,0,5,0,3,3,11,43,79,136,79,10,8,0,14,4,279,214,15,7,6,10,0
68,Korea Republic,Ghana,H,2,53,2,0,2,21,6,8,15,6,22,5,6,8,27,119,19,201,148,24,19,2,13,1,540,477,46,16,12,10,0
68,Korea Republic,Portugal,H,2,34,2,0,0,12,6,4,6,6,9,7,5,2,7,68,8,139,87,11,6,2,9,1,359,304,13,3,5,15,0
68,Korea Republic,Brazil,H,1,44,0,1,0,10,6,2,6,4,19,4,3,5,21,126,15,188,137,20,14,1,13,5,548,486,14,1,4,8,0
68,Korea Republic,Uruguay,H,0,38,0,0,0,6,0,5,1,5,15,0,4,4,19,91,8,185,96,17,8,1,10,0,419,340,19,3,3,8,0
72,Mexico,Argentina,C,0,36,0,0,0,4,1,2,1,3,8,1,1,2,11,52,5,127,66,13,5,4,19,4,356,287,17,4,2,17,0
72,Mexico,Poland,C,0,49,0,0,0,14,4,7,9,5,20,6,1,3,27,70,16,197,125,10,5,2,14,3,500,426,33,6,6,16,0
72,Mexico,Saudi Arabia,C,2,55,1,1,1,25,10,8,10,15,16,5,3,7,16,119,17,198,121,33,16,1,18,6,412,336,34,6,8,22,0
77,Morocco,Portugal,F,1,22,1,0,1,9,3,6,5,4,4,1,4,1,3,48,6,128,63,13,3,3,15,2,229,171,8,3,3,11,0
77,Morocco,Spain,F,0,20,0,0,0,6,3,3,3,3,11,1,0,2,8,66,10,155,86,3,3,1,15,5,331,235,11,4,0,18,3
77,Morocco,Belgium,F,2,32,1,1,1,11,4,7,5,6,10,3,2,1,11,51,6,139,87,5,2,1,14,3,336,290,9,4,1,13,0
77,Morocco,France,F,0,55,0,0,0,13,1,6,8,5,10,4,6,6,19,74,15,141,95,18,11,1,11,3,583,518,22,1,3,15,0
77,Morocco,Croatia,F,1,45,1,0,0,7,2,5,5,2,13,1,3,7,16,75,10,150,97,14,8,2,11,2,494,428,20,5,3,15,0
77,Morocco,Canada,F,2,36,1,1,1,7,2,3,4,3,6,0,3,4,5,52,7,157,82,8,2,0,14,4,391,315,9,1,2,18,0
77,Morocco,Croatia,F,0,30,0,0,0,7,2,0,3,4,8,1,6,0,11,47,4,154,85,4,1,1,17,0,365,296,13,2,0,12,0
83,Netherlands,Argentina,A,2,45,2,0,2,5,2,2,3,2,11,7,9,3,15,112,5,194,130,15,6,4,30,1,651,557,22,4,2,20,3
83,Netherlands,United States,A,3,35,3,0,3,12,6,5,8,4,4,2,4,7,10,84,7,184,115,14,7,2,10,0,403,331,15,5,4,8,0
83,Netherlands,Qatar,A,2,53,2,0,1,12,4,6,9,3,25,9,8,11,21,115,14,198,173,8,7,1,5,5,786,738,15,4,4,9,0
83,Netherlands,Ecuador,A,1,46,0,1,1,2,1,1,0,2,8,8,2,4,11,78,7,174,117,1,1,0,15,1,530,454,11,0,2,16,0
83,Netherlands,Senegal,A,2,41,2,0,1,10,3,4,6,4,11,2,2,7,20,86,10,168,108,10,7,2,13,1,457,386,26,7,7,15,0
87,Poland,Argentina,C,0,24,0,0,0,4,0,2,1,3,6,2,1,2,3,46,3,79,44,4,0,1,6,0,321,261,5,2,1,12,0
87,Poland,Saudi Arabia,C,2,30,2,0,1,8,3,3,8,0,7,2,4,8,13,95,14,150,84,22,12,3,18,0,303,236,19,8,4,15,0
87,Poland,France,C,1,42,1,0,0,11,3,5,8,3,15,2,2,3,10,85,11,156,97,20,12,2,8,1,466,391,18,7,1,11,1
87,Poland,Mexico,C,0,32,0,0,0,9,2,4,8,1,8,6,6,4,13,68,5,148,73,4,2,1,16,0,330,244,12,2,5,16,0
92,Portugal,Morocco,H,0,65,0,0,0,11,3,6,7,4,27,10,8,7,20,104,19,167,118,23,18,1,9,2,678,592,33,7,9,17,0
92,Portugal,Uruguay,H,2,53,1,1,0,14,4,7,4,10,17,9,4,9,11,127,11,170,112,11,7,3,10,2,596,517,16,4,6,15,1
92,Portugal,Switzerland,H,6,43,6,0,5,14,9,2,9,5,8,3,6,6,8,86,9,165,98,16,8,0,12,3,461,392,14,6,6,13,0
92,Portugal,Ghana,H,3,53,3,0,2,11,5,3,7,4,24,6,7,4,10,109,17,197,150,16,11,2,14,1,630,575,20,5,3,19,1
92,Portugal,Korea Republic,H,1,55,1,0,1,12,4,6,5,7,23,7,5,8,12,109,12,178,123,21,12,0,11,5,606,541,22,6,4,10,0
96,Qatar,Ecuador,A,0,40,0,0,0,5,0,5,2,3,15,0,3,1,9,45,5,159,100,6,4,4,15,3,453,387,10,5,1,19,0
96,Qatar,Senegal,A,1,42,1,0,1,10,2,7,4,6,7,5,2,5,11,79,9,174,117,13,7,3,7,4,424,353,18,5,6,15,0
96,Qatar,Netherlands,A,0,36,0,0,0,6,4,2,2,4,10,7,5,4,6,86,6,163,116,7,5,0,0,0,457,394,18,4,2,24,0
99,Saudi Arabia,Mexico,C,1,29,1,0,1,10,2,8,6,4,5,3,4,3,11,95,6,178,86,17,5,6,20,2,297,197,9,2,1,23,0
99,Saudi Arabia,Poland,C,0,57,0,0,0,16,5,9,9,7,21,6,5,7,15,119,22,205,153,27,19,2,15,0,560,494,24,4,5,17,0
99,Saudi Arabia,Argentina,C,2,24,2,0,1,3,2,0,3,0,3,2,3,3,8,65,7,147,73,11,4,6,21,1,267,194,12,4,2,17,0
102,Senegal,England,A,0,35,0,0,0,10,2,6,4,6,8,1,0,4,9,67,7,159,86,15,7,1,12,0,393,320,13,3,3,16,0
102,Senegal,Ecuador,A,2,32,2,0,0,15,6,5,11,4,14,0,2,7,10,65,8,159,80,12,8,1,11,3,277,200,21,7,6,22,1
102,Senegal,Qatar,A,3,48,3,0,2,12,4,6,10,2,26,4,6,4,18,95,12,184,113,19,9,3,12,3,511,445,20,6,7,11,0
102,Senegal,Netherlands,A,0,39,0,0,0,15,4,7,8,7,12,4,2,4,13,101,12,143,86,6,6,2,13,2,391,326,22,8,6,14,0
106,Serbia,Switzerland,G,2,45,2,0,1,11,4,6,10,1,17,6,4,4,10,86,7,157,95,10,5,7,18,0,476,390,23,6,2,14,0
106,Serbia,Cameroon,G,3,49,2,1,3,16,6,8,11,5,20,4,16,5,12,140,11,184,122,22,12,2,13,4,513,433,23,4,3,8,0
106,Serbia,Brazil,G,0,34,0,0,0,4,0,3,1,3,10,3,4,3,7,69,4,140,91,15,6,3,12,0,403,341,13,3,4,8,0
109,Spain,Japan,E,1,78,1,0,1,14,5,3,7,7,30,9,6,11,22,151,17,190,140,21,15,0,6,2,1070,992,20,2,2,11,0
109,Spain,Costa Rica,E,7,71,7,0,3,17,7,8,13,4,30,4,8,6,12,143,17,219,177,17,10,0,8,3,1056,994,26,7,5,18,1
109,Spain,Morocco,E,0,63,0,0,0,14,2,6,9,5,36,10,8,19,29,136,27,237,164,15,13,1,14,4,1050,975,29,5,8,20,0
109,Spain,Germany,E,1,56,1,0,1,7,3,4,3,4,12,3,2,1,5,115,16,186,146,19,13,1,13,2,647,565,9,2,6,16,0
113,Switzerland,Serbia,G,3,41,3,0,3,14,7,3,10,4,14,7,3,1,12,111,10,157,95,20,8,4,13,0,403,325,13,4,0,18,0
113,Switzerland,Portugal,G,1,48,1,0,0,10,1,7,5,5,18,2,6,2,8,94,8,167,107,17,7,2,10,3,512,436,15,1,6,15,0
113,Switzerland,Cameroon,G,1,43,1,0,1,8,3,4,6,2,19,2,11,6,16,112,13,178,123,21,13,2,12,2,497,437,28,6,11,11,0
113,Switzerland,Brazil,G,0,40,0,0,0,4,0,1,2,2,7,3,4,6,10,86,4,173,100,17,4,1,17,1,488,414,11,3,3,13,0
117,Tunisia,Australia,D,0,50,0,0,0,13,4,5,9,4,12,8,7,6,11,89,13,200,109,23,11,3,16,3,501,396,23,5,5,15,0
117,Tunisia,Denmark,D,0,36,0,0,0,12,1,5,7,5,9,2,2,3,6,76,6,188,98,3,2,1,10,1,406,324,15,4,9,10,0
117,Tunisia,France,D,1,30,0,1,1,5,3,2,2,3,11,3,4,0,10,95,9,153,96,21,7,1,14,3,328,266,27,4,7,8,0
120,United States,Iran,B,1,45,1,0,1,12,5,4,8,4,11,7,7,5,17,117,17,185,133,27,16,1,10,1,470,413,22,2,5,15,0
120,United States,Wales,B,1,51,1,0,1,6,1,4,4,2,14,5,4,4,11,101,12,199,146,23,15,4,15,1,569,509,31,4,5,11,0
120,United States,Netherlands,B,1,52,1,0,1,17,6,5,11,6,13,8,4,9,15,107,19,204,145,15,12,0,5,3,572,499,40,9,5,10,0
120,United States,England,B,0,40,0,0,0,10,2,7,6,4,12,0,1,6,8,74,6,143,88,15,5,0,15,0,427,368,16,2,7,10,0
124,Uruguay,Portugal,H,0,35,0,0,0,10,3,6,6,4,13,8,4,5,9,94,6,150,86,17,11,2,16,0,390,306,18,5,2,13,0
124,Uruguay,Korea Republic,H,0,49,0,0,0,10,0,6,7,3,13,4,4,6,14,81,4,146,88,16,7,1,7,1,528,459,16,4,4,10,0
124,Uruguay,Ghana,H,2,39,2,0,1,12,7,5,7,5,7,2,13,3,17,186,14,186,124,24,14,3,11,2,446,361,15,4,2,20,0
127,Wales,Iran,B,0,51,0,0,0,10,3,4,5,5,18,3,8,11,13,101,13,208,129,17,8,1,9,2,508,413,20,5,2,12,0
127,Wales,United States,B,1,39,1,0,0,7,3,3,5,2,7,2,5,2,7,73,9,174,103,17,8,2,10,1,409,321,15,6,3,15,1
127,Wales,England,B,0,33,0,0,0,7,1,3,1,6,7,1,2,0,4,46,1,104,55,4,1,2,16,1,325,261,4,1,1,10,0

## Questions on Titanic dataset.

You can get the dataset from [here](https://www.kaggle.com/competitions/titanic). This is the competition page on Kaggle. To download the dataset from here, I guess you have to register for the compition. So, do so and then download the dataset.

Also, for now you can use this url to read the dataset like before:
- dataset 1: https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv
- dataset 2: https://docs.google.com/spreadsheets/d/e/2PACX-1vQcPvQsSC9aNFogvbUG08nu0bGHlOclGYaOlhND_LE5Ff7ZnHQ5VYzAgpyT5XNklgiT54SsNgHePsUa/pub?gid=1656109608&single=true&output=csv

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
train = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv')
test = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQcPvQsSC9aNFogvbUG08nu0bGHlOclGYaOlhND_LE5Ff7ZnHQ5VYzAgpyT5XNklgiT54SsNgHePsUa/pub?gid=1656109608&single=true&output=csv')

### `Q-5:` Do the below tasks:
1. With dataset 1, drop those records which only have missing values of the "Age" column permanently.

2. With the dataset 2, fill the missing values with 20 to the only "Age" column permanently.

In [ ]:
train.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [ ]:
test.head(3)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [ ]:
train.shape

(891, 12)

In [ ]:
test.shape

(418, 11)

In [ ]:
# code here

train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [ ]:
train.dropna(subset='Age',inplace=True)

In [ ]:
test['Age'].fillna(20,inplace=True)

In [ ]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

## Questions on IPL wala dataset

matches dataset = https://drive.google.com/file/d/1yKVUuexl6lIKuFQy7uIPgDgXhJ0L4SIg/view?usp=share_link

Code to directly use in colab
```
ipl_matches = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRy2DUdUbaKx_Co9F0FSnIlyS-8kp4aKv_I0-qzNeghiZHAI_hw94gKG22XTxNJHMFnFVKsO4xWOdIs/pub?gid=1655759976&single=true&output=csv"

```

In [2]:
import numpy as np
import pandas as pd

In [3]:
ipl = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRy2DUdUbaKx_Co9F0FSnIlyS-8kp4aKv_I0-qzNeghiZHAI_hw94gKG22XTxNJHMFnFVKsO4xWOdIs/pub?gid=1655759976&single=true&output=csv')

In [4]:
ipl.head(3)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough

In [5]:
ipl['Team1'].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [6]:
ipl['Team2'].unique()

array(['Gujarat Titans', 'Rajasthan Royals', 'Lucknow Super Giants',
       'Punjab Kings', 'Mumbai Indians', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Sunrisers Hyderabad', 'Delhi Capitals',
       'Chennai Super Kings', 'Kings XI Punjab', 'Delhi Daredevils',
       'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

###`Q-6:` Make a dataframe of each team in IPL with details like - Team Name, Matches Played, Win%, Home Win%, Away Win%.
Show sorted dataframe on Win%

Replace old team name as new name before performing any tasks.
```
Delhi Daredevils ->Delhi Capitals
Kings XI Punjab -> Punjab Kings
Rising Pune Supergiants -> Rising Pune Supergiant
```

Note: Team1 represents Home team. Exclude not result matches.

In [7]:
ipl['Team1'] = ipl['Team1'].apply(lambda x: 'Delhi Capitals' if x == 'Delhi Daredevils' else x)

In [8]:
ipl['Team2'] = ipl['Team2'].apply(lambda x: 'Delhi Capitals' if x == 'Delhi Daredevils' else x)

In [9]:
ipl['Team1'] = ipl['Team1'].apply(lambda x: 'Punjab Kings' if x == 'Kings XI Punjab' else x)
ipl['Team2'] = ipl['Team2'].apply(lambda x: 'Punjab Kings' if x == 'Kings XI Punjab' else x)
ipl['Team1'] = ipl['Team1'].apply(lambda x: 'Rising Pune Supergiant' if x == 'Rising Pune Supergiants' else x)
ipl['Team2'] = ipl['Team2'].apply(lambda x: 'Rising Pune Supergiant' if x == 'Rising Pune Supergiants' else x)

In [10]:
ipl['WinningTeam'] = ipl['WinningTeam'].apply(lambda x: 'Delhi Capitals' if x == 'Delhi Daredevils' else x)
ipl['WinningTeam'] = ipl['WinningTeam'].apply(lambda x: 'Punjab Kings' if x == 'Kings XI Punjab' else x)
ipl['WinningTeam'] = ipl['WinningTeam'].apply(lambda x: 'Rising Pune Supergiant' if x == 'Rising Pune Supergiants' else x)

In [11]:
ipl['Team1'].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Rising Pune Supergiant',
       'Gujarat Lions', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [12]:
ipl['Team2'].unique()

array(['Gujarat Titans', 'Rajasthan Royals', 'Lucknow Super Giants',
       'Punjab Kings', 'Mumbai Indians', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Sunrisers Hyderabad', 'Delhi Capitals',
       'Chennai Super Kings', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Pune Warriors', 'Deccan Chargers', 'Kochi Tuskers Kerala'],
      dtype=object)

In [13]:
ipl.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [14]:
ipl['WinningTeam'].unique()

array(['Gujarat Titans', 'Rajasthan Royals',
       'Royal Challengers Bangalore', 'Punjab Kings', 'Mumbai Indians',
       'Lucknow Super Giants', 'Sunrisers Hyderabad', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Chennai Super Kings', nan,
       'Rising Pune Supergiant', 'Gujarat Lions', 'Pune Warriors',
       'Deccan Chargers', 'Kochi Tuskers Kerala'], dtype=object)

In [15]:
ipl[ipl['WinningTeam'].isnull()]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
205,1178424,Bengaluru,2019-04-30,2019,49,Royal Challengers Bangalore,Rajasthan Royals,M.Chinnaswamy Stadium,Rajasthan Royals,field,NaN,NaN,NoResults,NaN,NaN,NaN,"['V Kohli', 'AB de Villiers', 'MP Stoinis', 'H...","['SV Samson', 'LS Livingstone', 'AM Rahane', '...",NJ Llong,UV Gandhe
437,829813,Bangalore,2015-05-17,2015,55,Royal Challengers Bangalore,Delhi Capitals,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,NaN,NaN,NoResults,NaN,NaN,NaN,"['V Kohli', 'CH Gayle', 'AB de Villiers', 'Man...","['Q de Kock', 'SS Iyer', 'JP Duminy', 'Yuvraj ...",HDPK Dharmasena,K Srinivasan
464,829763,Bangalore,2015-04-29,2015,29,Royal Challengers Bangalore,Rajasthan Royals,M Chinnaswamy Stadium,Rajasthan Royals,field,NaN,NaN,NoResults,NaN,NaN,NaN,"['CH Gayle', 'V Kohli', 'AB de Villiers', 'Man...","['AM Rahane', 'SR Watson', 'SPD Smith', 'KK Na...",JD Cloete,PG Pathak
708,501265,Delhi,2011-05-21,2011,68,Delhi Capitals,Pune Warriors,Feroz Shah Kotla,Delhi Daredevils,bat,NaN,NaN,NoResults,NaN,NaN,NaN,"['NV Ojha', 'DA Warner', 'MS Wade', 'CA Ingram...","['MK Pandey', 'JP Faulkner', 'SC Ganguly', 'RV...",SS Hazare,RJ Tucker

In [16]:
ipl['WonBy'].unique()

array(['Wickets', 'Runs', 'SuperOver', 'NoResults'], dtype=object)

In [17]:
df = ipl[~(ipl['WonBy'] == 'NoResults')]

In [18]:
df['WonBy'].unique()

array(['Wickets', 'Runs', 'SuperOver'], dtype=object)

In [19]:
teams = list()

In [20]:
set(ipl['Team1'].unique()) == set(ipl['Team2'].unique())

True

In [21]:
columns = ['Teams Name', 'Matches Played', 'Win%', 'Home Win%', 'Away Win%']

In [22]:
teams = list(ipl['Team1'].unique())

In [23]:
def matches_played(Team):
  df = ipl[(ipl['Team1'] == Team) | (ipl['Team2'] == Team)]
  matches_played = len(df)

  return matches_played

In [24]:
matches_list = [matches_played(i) for i in teams]

In [25]:
matches_list

[192, 226, 152, 224, 208, 16, 15, 223, 218, 231, 30, 30, 46, 75, 14]

In [26]:
def win_perc(Team):
  df = ipl[(ipl['Team1'] == Team) | (ipl['Team2'] == Team)]
  win_team = df[df['WinningTeam'] == Team]
  win_per = round((len(win_team)/len(df))*100,2)

  return win_per

In [27]:
win_list = [win_perc(i) for i in teams]

In [28]:
win_list

[50.0,
 48.23,
 49.34,
 45.98,
 58.17,
 75.0,
 60.0,
 51.12,
 46.33,
 56.71,
 50.0,
 43.33,
 26.09,
 38.67,
 42.86]

In [29]:
def home_win_perc(Team):
  df = ipl[(ipl['Team1'] == Team)]
  win_team = df[df['WinningTeam'] == Team]
  home_win_per = round((len(win_team)/len(df))*100,2)

  return home_win_per

In [30]:
# code here
home_win_list = [home_win_perc(i) for i in teams]

In [31]:
home_win_list

[55.06,
 48.41,
 52.17,
 46.49,
 58.56,
 57.14,
 87.5,
 53.33,
 45.45,
 58.04,
 50.0,
 31.25,
 26.09,
 33.33,
 42.86]

In [32]:
def away_win_perc(Team):
  df = ipl[(ipl['Team2'] == Team)]
  win_team = df[df['WinningTeam'] == Team]
  away_win_per = round((len(win_team)/len(df))*100,2)

  return away_win_per

In [33]:
away_win_list = [away_win_perc(i) for i in teams]

In [34]:
away_win_list

[45.63,
 48.0,
 46.99,
 45.45,
 57.73,
 88.89,
 28.57,
 49.15,
 47.22,
 55.46,
 50.0,
 57.14,
 26.09,
 44.44,
 42.86]

In [35]:
values = [teams,matches_list,win_list,home_win_list,away_win_list]

In [36]:
values

[['Rajasthan Royals',
  'Royal Challengers Bangalore',
  'Sunrisers Hyderabad',
  'Delhi Capitals',
  'Chennai Super Kings',
  'Gujarat Titans',
  'Lucknow Super Giants',
  'Kolkata Knight Riders',
  'Punjab Kings',
  'Mumbai Indians',
  'Rising Pune Supergiant',
  'Gujarat Lions',
  'Pune Warriors',
  'Deccan Chargers',
  'Kochi Tuskers Kerala'],
 [192, 226, 152, 224, 208, 16, 15, 223, 218, 231, 30, 30, 46, 75, 14],
 [50.0,
  48.23,
  49.34,
  45.98,
  58.17,
  75.0,
  60.0,
  51.12,
  46.33,
  56.71,
  50.0,
  43.33,
  26.09,
  38.67,
  42.86],
 [55.06,
  48.41,
  52.17,
  46.49,
  58.56,
  57.14,
  87.5,
  53.33,
  45.45,
  58.04,
  50.0,
  31.25,
  26.09,
  33.33,
  42.86],
 [45.63,
  48.0,
  46.99,
  45.45,
  57.73,
  88.89,
  28.57,
  49.15,
  47.22,
  55.46,
  50.0,
  57.14,
  26.09,
  44.44,
  42.86]]

In [37]:
dic = dict(zip(columns,values))

In [38]:
dic

{'Teams Name': ['Rajasthan Royals',
  'Royal Challengers Bangalore',
  'Sunrisers Hyderabad',
  'Delhi Capitals',
  'Chennai Super Kings',
  'Gujarat Titans',
  'Lucknow Super Giants',
  'Kolkata Knight Riders',
  'Punjab Kings',
  'Mumbai Indians',
  'Rising Pune Supergiant',
  'Gujarat Lions',
  'Pune Warriors',
  'Deccan Chargers',
  'Kochi Tuskers Kerala'],
 'Matches Played': [192,
  226,
  152,
  224,
  208,
  16,
  15,
  223,
  218,
  231,
  30,
  30,
  46,
  75,
  14],
 'Win%': [50.0,
  48.23,
  49.34,
  45.98,
  58.17,
  75.0,
  60.0,
  51.12,
  46.33,
  56.71,
  50.0,
  43.33,
  26.09,
  38.67,
  42.86],
 'Home Win%': [55.06,
  48.41,
  52.17,
  46.49,
  58.56,
  57.14,
  87.5,
  53.33,
  45.45,
  58.04,
  50.0,
  31.25,
  26.09,
  33.33,
  42.86],
 'Away Win%': [45.63,
  48.0,
  46.99,
  45.45,
  57.73,
  88.89,
  28.57,
  49.15,
  47.22,
  55.46,
  50.0,
  57.14,
  26.09,
  44.44,
  42.86]}

In [39]:
df = pd.DataFrame(dic)

In [40]:
df

                     Teams Name  Matches Played   Win%  Home Win%  Away Win%
0              Rajasthan Royals             192  50.00      55.06      45.63
1   Royal Challengers Bangalore             226  48.23      48.41      48.00
2           Sunrisers Hyderabad             152  49.34      52.17      46.99
3                Delhi Capitals             224  45.98      46.49      45.45
4           Chennai Super Kings             208  58.17      58.56      57.73
5                Gujarat Titans              16  75.00      57.14      88.89
6          Lucknow Super Giants              15  60.00      87.50      28.57
7         Kolkata Knight Riders             223  51.12      53.33      49.15
8                  Punjab Kings             218  46.33      45.45      47.22
9                Mumbai Indians             231  56.71      58.04      55.46
10       Rising Pune Supergiant              30  50.00      50.00      50.00
11                Gujarat Lions              30  43.33      31.25      57.14
12                Pune Warriors              46  26.09      26.09      26.09
13              Deccan Chargers              75  38.67      33.33      44.44
14         Kochi Tuskers Kerala              14  42.86      42.86      42.86

In [43]:
df.set_index('Teams Name').sort_values('Win%',ascending=False)

                             Matches Played   Win%  Home Win%  Away Win%
Teams Name
Gujarat Titans                           16  75.00      57.14      88.89
Lucknow Super Giants                     15  60.00      87.50      28.57
Chennai Super Kings                     208  58.17      58.56      57.73
Mumbai Indians                          231  56.71      58.04      55.46
Kolkata Knight Riders                   223  51.12      53.33      49.15
Rajasthan Royals                        192  50.00      55.06      45.63
Rising Pune Supergiant                   30  50.00      50.00      50.00
Sunrisers Hyderabad                     152  49.34      52.17      46.99
Royal Challengers Bangalore             226  48.23      48.41      48.00
Punjab Kings                            218  46.33      45.45      47.22
Delhi Capitals                          224  45.98      46.49      45.45
Gujarat Lions                            30  43.33      31.25      57.14
Kochi Tuskers Kerala                     14  42.86      42.86      42.86
Deccan Chargers                          75  38.67      33.33      44.44
Pune Warriors                            46  26.09      26.09      26.09

###`Q-7:` Venues with most "no result" matches.

In [44]:
ipl['WonBy'].unique()

array(['Wickets', 'Runs', 'SuperOver', 'NoResults'], dtype=object)

In [46]:
nr = ipl[ipl['WonBy'] == 'NoResults']

In [47]:
nr['City'].value_counts()

City
Bangalore    2
Bengaluru    1
Delhi        1
Name: count, dtype: int64

In [50]:
ipl['City'].unique()

array(['Ahmedabad', 'Kolkata', 'Mumbai', 'Navi Mumbai', 'Pune', 'Dubai',
       'Sharjah', 'Abu Dhabi', 'Delhi', 'Chennai', nan, 'Hyderabad',
       'Visakhapatnam', 'Chandigarh', 'Bengaluru', 'Jaipur', 'Indore',
       'Bangalore', 'Kanpur', 'Rajkot', 'Raipur', 'Ranchi', 'Cuttack',
       'Dharamsala', 'Kochi', 'Nagpur', 'Johannesburg', 'Centurion',
       'Durban', 'Bloemfontein', 'Port Elizabeth', 'Kimberley',
       'East London', 'Cape Town'], dtype=object)

In [54]:
sorted(ipl[~ipl['City'].isnull()]['City'].unique())

['Abu Dhabi',
 'Ahmedabad',
 'Bangalore',
 'Bengaluru',
 'Bloemfontein',
 'Cape Town',
 'Centurion',
 'Chandigarh',
 'Chennai',
 'Cuttack',
 'Delhi',
 'Dharamsala',
 'Dubai',
 'Durban',
 'East London',
 'Hyderabad',
 'Indore',
 'Jaipur',
 'Johannesburg',
 'Kanpur',
 'Kimberley',
 'Kochi',
 'Kolkata',
 'Mumbai',
 'Nagpur',
 'Navi Mumbai',
 'Port Elizabeth',
 'Pune',
 'Raipur',
 'Rajkot',
 'Ranchi',
 'Sharjah',
 'Visakhapatnam']

In [56]:
# code here

ipl['City'] = ipl['City'].apply(lambda x: 'Bengaluru' if x == 'Bangalore' else x)
ipl['City'] = ipl['City'].apply(lambda x: 'Navi Mumbai' if x == 'Mumbai' else x)

In [57]:
nr = ipl[ipl['WonBy'] == 'NoResults']

In [67]:
nr['City'].value_counts().sort_values(ascending=False).index[0]

'Bengaluru'

###`Q-8:` Player with most appearance in final match.

`Team1Players` and `Team2Players` have all players name. It is not a list of players name instead it is str. So handle it as string.

Hint: split and strip will help; Make a series of all players in final and do value counts

In [ ]:
# code here

###`Q-9:` IPL Point Table

Make a function `point_table` which take `season` as parameter and show points table in non-ascendng order of points and in ascending order of team name.

For winning - 2 Ponits;
For loosing - 0 Point
For not result both team gets 1 points.

Make dataframe which will have
`TeamName` `MatchesPlayed` `MatchesWon` `NoResult` `Points`
make `TeamName` as index.

```
season parametr should be one of these->
['2022', '2021', '2020/21', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2009/10', '2009', '2007/08']
```

Output of two Top 2 in season 2022
```
TeamName    MatchesPlayed	MatchesWon	NoResult	Points

Gujarat Titans	    16	   12	       0	     24
Rajasthan Royals	  17	   10	       0	     20

```

In [ ]:
# code here

###`Q-10:` IPL Point Table cont.
Extend the above IPL Point Table with an extra column as `SeasonPosition`

Team below top 4 after sorting on `Points` and then on `TeamName` Will have same `SeasonPosition` as there rank. use rank function.

Teams in Top four will have `SeasonPosition` as:
```
    'Winner' - Team won final
    'Runner' - Team lost Final
    3 - Losing Team in Qualifier2
    4 - Losing Team in Eliminator
```

For changing value of pariticular cell use `df.at[row_index, col_label] = value`

Output of two Top 2 in season 2022. Your result should have all teams.
```
TeamName    MatchesPlayed	MatchesWon	NoResult	Points   SeasonPosition

Gujarat Titans	    16	   12	       0	     24         Winner
Rajasthan Royals	  17	   10	       0	     20         Runner

```

Note: If you try to chnage value of view of any dataframe a warnig will be shown. To avoid it, make a copy of the dataframe you want to change in by `df.copy()`

In [ ]:
# code here