<a href="https://colab.research.google.com/github/rishabhk1501/Data-Analytics-Tasks/blob/main/session_1_tasks_soln.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
# Write your code here

print("Data", "Science", "Mentorship", "Program", "started",
"By", "CampusX", sep = "-")

Data-Science-Mentorship-Program-started-By-CampusX

In [ ]:
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."

In [ ]:
print()

In [ ]:
# write program if user feeds the sentence as input to convert to a desired separated format

string = input("Enter the string: ")

print(','.join(string.split()))

Enter the string: hello how are you
hello,how,are,you

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
# Write your code here

C = int(input('Temperature in Celcius: '))

F = ((9*C)/5) + 32

print('Temperature in Fahrenheit: {0}'.format(F))

Temperature in Celcius: 38
Temperature in Fahrenheit: 100.4

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
# Write your code here

a = int(input('Enter first number: '))
b = int(input('Enter second number: '))

a_new = b
b_new = a
print('The numbers {} and {} after swapping are {} and {}'.format(a,b,a_new,b_new))

Enter first number: 3
Enter second number: 7
The numbers 3 and 7 after swapping are 7 and 3

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
# Write your code here

x1 = int(input('Enter X coordinate for first point: '))
y1 = int(input('Enter Y coordinate for first point: '))

x2 = int(input('Enter X coordinate for second point: '))
y2 = int(input('Enter Y coordinate for second point: '))

euc_dist = (((x2-x1)**2) + ((y2-y1)**2))**0.5

print('euclidean distance between two coordinates is {}'.format(euc_dist))

Enter X coordinate for first point: 3
Enter Y coordinate for first point: 8
Enter X coordinate for second point: 71
Enter Y coordinate for second point: 89
euclidean distance between two coordinates is 105.75916035975324

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
# Write your code here

p = float(input('Enter the principle: '))
r = float(input('Enter the rate of interest: '))
t = float(input('Enter the time period: '))

si = p*r*t

print('The value of simple interest is {}'.format(si))

Enter the principle: 1000
Enter the rate of interest: 0.1
Enter the time period: 5
The value of simple interest is 500.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
# Write your code here

# d = b- a/2
# c = a/2 -b

h = int(input('Enter total number of heads: '))
l = int(input('Enter total number of legs: '))

d = int((l/2) - h)
c = int((2*h) - (l/2))

print('Total number of dogs are {}'.format(d), 'Total number of chickens are {}'.format(c), sep = '\n')

Enter total number of heads: 8
Enter total number of legs: 20
Total number of dogs are 2
Total number of chickens are 6

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
# Write your code here

n = int(input('Enter value of n: '))
sum_of_squares = n * (n + 1) * (2 * n + 1) // 6


print('Sum of squares of {} natural numbers is {}'.format(n, sum_of_squares))

Enter value of n: 6
Sum of squares of 6 natural numbers is 91

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
# Write your code here

a1 = int(input('Enter the first term: '))
a2 = int(input('Enter the second term: '))
n = int(input('Enter total terms in series: '))

nth_term = a1 + ((n-1)*(a2-a1))

print('nth term of the arithmetic series is {}'.format(nth_term))

Enter the first term: 25
Enter the second term: 40
Enter total terms in series: 10
nth term of the arithmetic series is 160

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
# Write your code here

a = int(input('Enter numerator of first fraction: '))
b = int(input('Enter denominator of first fraction: '))
c = int(input('Enter numerator of second fraction: '))
d = int(input('Enter denominator of second fraction: '))

sum_of_fraction = ((a*d) + (b*c))/(b*d)
print('The sum of two fractions is {}'.format(sum_of_fraction))

Enter numerator of first fraction: 4
Enter denominator of first fraction: 7
Enter numerator of second fraction: 3
Enter denominator of second fraction: 7

The sum of two fractions is 1.0

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
# Write your code here

H = int(input('Enter the height of tank: '))
L = int(input('Enter the width of tank: '))
B = int(input('Enter the breadth of tank: '))

volume_of_tank = H * L * B

h = int(input('Enter the height of glass: '))
r = int(input('Enter the radius of glass: '))

volume_of_glass = (22/7) * (r**2) * h

total_glasses = (volume_of_tank) // (volume_of_glass)

print('The total number of glasses are {}'.format(total_glasses))

Enter the height of tank: 20
Enter the width of tank: 20
Enter the breadth of tank: 20
Enter the height of glass: 3
Enter the radius of glass: 1
The total number of glasses are 848.0