<a href="https://colab.research.google.com/github/rishabhk1501/Data-Analytics-Tasks/blob/main/session_6_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [1]:
def unique_list(x):
  '''
  This function converts the list containing
  duplicate elements into a unique list
  '''
  result = []
  for i in x:
    if i not in result:
      result.append(i)
  return result

In [2]:
unique_list([1,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [3]:
unique_list(['abc', 123, 'vgd', 'abc', True, {1,2,4}, (8,9,99), 123, True, False, 'vgd'])

['abc', 123, 'vgd', True, {1, 2, 4}, (8, 9, 99), False]

In [4]:
unique_list.__doc__

'\n  This function converts the list containing \n  duplicate elements into a unique list\n  '

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [13]:
# Write code here

def hyphen_sort(x):


  '''
  This function accepts a hyphen-separated
  sequence of words as parameter
  and returns the words in a
  hyphen-separated sequence
  after sorting them alphabetically
  '''

  L = sorted(x.split('-'))
  result = '-'.join(L)

  print(result)

In [12]:
string = 'green-red-yellow-black-white'

hyphen_sort(string)

black-green-red-white-yellow

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [21]:
# Write code here

def case_count(x):

  '''
  This function accepts a string and calculate
  the number of upper case letters
  and lower case letters
  '''

  count_upper = 0
  count_lower = 0

  for i in x:
    if i.isupper():
      count_upper += 1
    elif i.lower():
      count_lower += 1

  print('No. of Upper case characters : {}'.format(count_upper))
  print('No. of Lower case characters : {}'.format(count_lower))

In [22]:
string = 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'

case_count(string)

No. of Upper case characters : 9
No. of Lower case characters : 56

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [2]:
# Write code here

def even_list(x):

  '''
  This function prints the even
  numbers from a given list
  '''

  L = [i for i in x if i%2 == 0]

  return(L)

In [4]:
even_list([1, 2, 3, 4, 5, 6, 7, 8, 9, 34, 81, 90])

[2, 4, 6, 8, 34, 90]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [5]:
# Write code here

def perfect(x):

  '''
  This function checks whether
  a number is perfect or not
  '''

  i = 1
  sum = 0
  while i < x:
    if x % i == 0:
      sum += i
    i += 1


  if sum == x:
    print('{} is a perfect number'.format(x))
  else:
    print('{} is a not a perfect number'.format(x))

In [11]:
perfect(28)

28 is a perfect number

In [10]:
perfect(6)

6 is a perfect number

In [13]:
perfect(8128)

8128 is a perfect number

In [14]:
perfect(8129)

8129 is a not a perfect number

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [24]:
# Write code here

def concatenate_dicts(dicts):
    concatenated_dict = {}
    for d in dicts:
        concatenated_dict.update(d)
    return concatenated_dict

# Sample dictionaries
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

# Concatenate dictionaries
result = concatenate_dicts([dic1, dic2, dic3])
print("Concatenated Dictionary:", result)

Concatenated Dictionary: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [27]:
# Write code here


def freq(string):
  dic = {i:string.split().count(i) for i in string.split()}

  max_freq = max(dic.values())
  for i,j in dic.items():
    if j == max_freq:
      print('{} -> {}'.format(i,j))

In [28]:
Input = 'hello how are you i am fine thank you'

freq(Input)

you -> 2

In [29]:
Input = 'hello how are you i am thank fine thank you'

freq(Input)

you -> 2
thank -> 2

In [32]:
Input = 'hello how hello are you i am hello thank i you fine hello thank you'

freq(Input)

hello -> 4

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [10]:
# Write code here

def histogram(L):

  upper_bin = max(L) + (10 - (max(L) % 10))
  lower_bin = min(L) - (min(L) % 10)

  bin_list = []
  for i in range(lower_bin,upper_bin+1,10):
    bin_list.append(i)

  count_list = []

  for i in range(len(bin_list)-1):
    count = 0
    for j in range(bin_list[i]+1,bin_list[i+1]+1):
      if j in L:
        count += 1
    count_list.append(count)

  string = ''
  for i in range(len(bin_list)-1):
    string = string + str(bin_list[i]+1) + '-' + str(bin_list[i+1]) + ' '

  L2 = ''.join(string).split()

  result = dict(zip(L2,count_list))

  return result

In [11]:
input = [13,42,15,37,22,39,41,50]

histogram(input)

{'11-20': 2, '21-30': 1, '31-40': 2, '41-50': 3, '51-60': 0}

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [17]:
# Write code here

def closest(x,y):

  distances = []

  for i in x:
    dist = (((i[1] - y[1])**2) + ((i[0] - y[0])**2))**0.5
    distances.append(dist)

  dic = dict(zip(x,distances))
  min_dist = min(dic.values())

  closest_list = []
  for i in dic:
    if dic[i] == min_dist:
      closest_list.append(i)

  return print(closest_list)

In [18]:
closest([(1,1),(2,2),(3,3),(4,4)], (0,0))

[(1, 1)]

In [19]:
closest([(1,1),(2,2),(-1,-1),(4,4)], (0,0))

[(1, 1), (-1, -1)]

In [21]:
closest([(0.5,0.75),(2,2),(-1,-1),(4,4)], (0,0))

[(0.5, 0.75)]

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [25]:
# Write code here

def bag_of_words(x):
  y = x.replace('.','')
  dic = {i:(y.split().count(i)) for i in y.split()}
  return dic

In [27]:
bag_of_words('John likes to watch movies. Mary likes movies too.')

{'John': 1, 'likes': 2, 'to': 1, 'watch': 1, 'movies': 2, 'Mary': 1, 'too': 1}

In [28]:
bag_of_words('Mary also likes to watch football games.')

{'Mary': 1,
 'also': 1,
 'likes': 1,
 'to': 1,
 'watch': 1,
 'football': 1,
 'games': 1}

In [29]:
bag_of_words('John likes to watch movies. Mary likes movies too. Mary also likes to watch football games.')

{'John': 1,
 'likes': 3,
 'to': 2,
 'watch': 2,
 'movies': 2,
 'Mary': 2,
 'too': 1,
 'also': 1,
 'football': 1,
 'games': 1}

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [ ]:
# Write code here

add_list = map(lambda x,y,z:x+y+z, )

In [1]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

list_add = map(lambda x,y,z: x+y+z, list1,list2,list3)
list(list_add)

[12, 15, 18]

In [5]:
str1 = 'abc'
str2 = '123'

str_add = map(lambda x,y: x+y, str1,str2)
list(str_add)

['a1', 'b2', 'c3']

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [ ]:
# Write code here

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [ ]:
# Write code here

`Problem-14`: Use reduce to convert a 2D list to 1D

In [ ]:
# Write code here

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [ ]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [ ]:
list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']