<a href="https://colab.research.google.com/github/rishabhk1501/Data-Analytics-Tasks/blob/main/session_2_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
# Write code here

ctc = int(input('Enter the salary: '))

if (ctc <= 500000):
  in_hand = ctc/12
elif (ctc > 500000 and ctc <=1000000):
  in_hand = (ctc*0.72)/12
elif (ctc > 1000000 and ctc <=2000000):
  in_hand = (ctc*0.62)/12
else:
  in_hand = (ctc*0.52)/12


print('The inhand salary for ctc {} is {}'.format(ctc, in_hand))

Enter the salary: 2000000
The inhand salary for ctc 2000000 is 103333.33333333333

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
# Write code here

A = int(input('Enter first angle: '))
B = int(input('Enter second angle: '))
C = int(input('Enter third angle: '))

if  A>0 and B>0 and C>0 and (A+B+C) == 180:
  print('Angle {}, {} and {} will form a triangle'.format(A, B, C))
else:
  print('Angle {}, {} and {} will not form a triangle'.format(A, B, C))

Enter first angle: 90
Enter second angle: 45
Enter third angle: 45
Angle 90, 45 and 45 will form a triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
# Write code here

cp = float(input('Enter the cost price: '))
sp = float(input('Enter the selling price: '))

if (cp > 0 and sp > 0 and cp > sp):
  print('It\'s a loss')
elif (cp > 0 and sp > 0 and cp < sp):
  print('It\'s a profit')
else:
  print('Invalid price entered')

Enter the cost price: 1000
Enter the selling price: 1400
It's a profit

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
# Write code here

option = int(input('Select the desired option from available four options: '))
if option == 1:
  print('You have selected option for cm to ft conversion')
  value = int(input('Enter the value '))
  ft = value/30.48
  print('{} cm is equal to {} ft'.format(value,ft))
elif option == 2:
  print('You have selected option for km to miles conversion')
  value = int(input('Enter the value '))
  miles = value*0.621
  print('{} km is equal to {} miles'.format(value,miles))
elif option == 3:
  print('You have selected option for USD to INR conversion')
  value = int(input('Enter the value '))
  INR = value*75.5
  print('{} USD is equal to {} INR'.format(value,INR))
elif option == 4:
  print('You have left the menu driven calculator')
else:
  print('You have selected invalid option')

Select the desired option from available four options: 2
You have selected option for km to miles conversion
Enter the value 15
15 km is equal to 9.315 miles

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
# Write code here
n = int(input('Enter total number of terms of Fibonacci series to be displayed: '))
series = [0,1]

for i in range(3,n+1):
  series.append(series[-2]+series[-1])

print('Fibonacci series up to {} terms is as follows:'.format(n), series, sep = '\n')

Enter total number of terms of Fibonacci series to be displayed: 23
Fibonacci series up to 23 terms is as follows:
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711]

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
# Write code here
# Using while loop

n = int(input('Enter number to calculate it\'s factorial: '))
factorial = 1
i = 1
while i <= n:
  factorial = factorial * i
  i += 1

print('Factorial for number {} is equal to {}'.format(n,factorial))

Enter number to calculate it's factorial: 16
Factorial for number 16 is equal to 20922789888000

In [ ]:
# Using for loop

n = int(input('Enter number to calculate it\'s factorial: '))
factorial = 1
for i in range(1,n+1):
  factorial = factorial * i

print('Factorial for number {} is equal to {}'.format(n,factorial))

Enter number to calculate it's factorial: 16
Factorial for number 16 is equal to 20922789888000

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
# Write code here

n = input('Enter integer: ')

reverse_n = int(n[::-1])

print('The reverse of the integer {} is {}'.format(n,reverse_n))

Enter integer: 1234567
The reverse of the integer 1234567 is 7654321

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
# Write code here

n = int(input('Enter integer: '))

sum = 0
i = 1
while i <= n:
  if (i % 5 != 0 and sum < 300):
    sum = sum + i
  i = i + 1


print('The total sum from 1 to {} excluding the numbers divisible by 5 is {}'.format(n,sum))

Enter integer: 30
The total sum from 1 to 30 excluding the numbers divisible by 5 is 303

In [ ]:
# Using break statement

N = int(input("Enter an integer N: "))

total_sum = 0
i = 1

while i <= N:
    if i % 5 != 0:  # Skip numbers divisible by 5
        total_sum += i
        if total_sum > 300:  # Check if sum exceeds 300
            break
    i += 1

print("The sum from 1 to {} excluding numbers divisible by 5 and sum greater than 300 is: {}".format(N, total_sum))

Enter an integer N: 30
The sum from 1 to 30 excluding numbers divisible by 5 and sum greater than 300 is: 303

In [ ]:
# Using break and continue statement

N = int(input("Enter an integer N: "))

total_sum = 0
i = 1

while i <= N:
    if i % 5 == 0:  # Check if number is divisible by 5
        i += 1
        continue  # Skip to next iteration if divisible by 5

    total_sum += i
    if total_sum > 300:  # Check if sum exceeds 300
        break

    i += 1

print("The sum from 1 to {} excluding numbers divisible by 5 and sum greater than 300 is: {}".format(N, total_sum))

Enter an integer N: 30
The sum from 1 to 30 excluding numbers divisible by 5 and sum greater than 300 is: 303

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# Write code here

n = float(input('Enter the number: '))
bucket = [n]
count = 0
while n != 0:
  n = float(input('Enter the number: '))
  bucket.append(n)
  count = count + 1

print('The total sum of all numbers is equal to {}'.format(sum(bucket)))
print('The average of all numbers is equal to {}'.format(sum(bucket)/(count)))

Enter the number: 12
Enter the number: 43
Enter the number: 78
Enter the number: 38
Enter the number: 74
Enter the number: 95
Enter the number: 78
Enter the number: 0
The total sum of all numbers is equal to 418.0
The average of all numbers is equal to 59.714285714285715

In [ ]:
# Initialize variables to store sum and count
total_sum = 0
count = 0

# Keep accepting numbers until zero is entered
while True:
    num = float(input("Enter a number (enter 0 to stop): "))

    # Check if the number is zero
    if num == 0:
        break

    # Add the number to the sum
    total_sum += num
    count += 1

# Calculate the average
if count != 0:
    average = total_sum / count
else:
    average = 0

# Display the sum and average
print("Sum of all numbers:", total_sum)
print("Average of all numbers:", average)

Enter a number (enter 0 to stop): 12
Enter a number (enter 0 to stop): 43
Enter a number (enter 0 to stop): 78
Enter a number (enter 0 to stop): 38
Enter a number (enter 0 to stop): 74
Enter a number (enter 0 to stop): 95
Enter a number (enter 0 to stop): 78
Enter a number (enter 0 to stop): 0
Sum of all numbers: 418.0
Average of all numbers: 59.714285714285715

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
# Write code here
# using list and join function
bucket = []
for i in range(2000,3201):
  if (i%7 == 0 and i%5 != 0):
    bucket.append(str(i))
print(', '.join(bucket))

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199

In [ ]:
# Using print settings and backspace sequence

'''The "\b" sequence in Python represents the backspace character.
When you print "\b", it moves the cursor back one position, effectively
erasing the last character printed on the screen'''

for i in range(2000,3201):
  if (i%7 == 0 and i%5 != 0):
    print(i, end = ', ')

# We will use two backspace sequence character to remove one comma and one space after the last digit.
print("\b\b")

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199, 

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
# Write code here

for i in range(1000,3001):
  if ((int(str(i)[0]) % 2 == 0) and (int(str(i)[1]) % 2 == 0) and (int(str(i)[2]) % 2 == 0) and (int(str(i)[3]) % 2 == 0)):
    print(i, end = ' ')

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
import math

x, y = 0, 0

while True:
    step = input("Type in UP/DOWN/LEFT/RIGHT #step number: ")

    if step == "":
        break

    else:
        step = step.split(" ", 1)  # Split at most once

        if step[0] == "UP":
            y += int(step[1])
        elif step[0] == "DOWN":
            y -= int(step[1])
        elif step[0] == "LEFT":
            x -= int(step[1])
        elif step[0] == "RIGHT":
            x += int(step[1])

distance = math.sqrt(x**2 + y**2)

print("Distance:", distance)

Type in UP/DOWN/LEFT/RIGHT #step number: UP 5
Type in UP/DOWN/LEFT/RIGHT #step number: DOWN 3
Type in UP/DOWN/LEFT/RIGHT #step number: LEFT 3
Type in UP/DOWN/LEFT/RIGHT #step number: RIGHT 2
Type in UP/DOWN/LEFT/RIGHT #step number:
Distance: 2.23606797749979

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
# Write code here

n = int(input('Enter number: '))

if n < 2:
  print('Incorrect entry, numbers less than 2 are not prime numbers')
else:
  for i in range(2,n):
    if n%i == 0:
      print('{} is not a prime number'.format(n))
      break
  else:
    print('{} is a prime number'.format(n))

Enter number: 106471457
106471457 is a prime number

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
An Armstrong number (also known as a narcissistic number, plenary number, or pluperfect number) is a number that is equal to the sum of its own digits raised to the power of the number of digits. In other words, if you take each digit of the number, raise it to the power of the total number of digits in the number, and then sum these values, if the result equals the original number, then that number is an Armstrong number.

For example:

153 is an Armstrong number because 1^3 + 5^3 + 3^3 = 153.

9474 is an Armstrong number because 9^4 + 4^4 + 7^4 + 4^4 = 9474.

In [110]:
# Write code here
a = int(input('Enter lower interval of the range: '))
b = int(input('Enter upper interval of the range: '))


bucket = []
if (a < 0 or b < 0 or a>=b):
  print('Incorrect entry')
else:
  for i in range(a,b+1):
    num_digits = len(str(i))
    sum_of_cubes = 0
    for j in str(i):
      sum_of_cubes = sum_of_cubes + (int(j))**num_digits
    if (sum_of_cubes == i):
      bucket.append(i)

print(bucket)

Enter lower interval of the range: 0
Enter upper interval of the range: 1000000
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634, 8208, 9474, 54748, 92727, 93084, 548834]

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [131]:
# Write code here
import math
hour = int(input("Enter the hour (0-23): "))
minute = int(input("Enter the minute (0-59): "))

hour_angle = (30 * (hour % 12)) + (0.5 * minute)
minute_angle = 6 * minute

abs_diff = abs(hour_angle - minute_angle)

angle = min(abs_diff, 360 - abs_diff)

if 0 <= hour <= 23 and 0 <= minute <= 59:
  print("The angle between the hour hand and minute hand is {} degrees.".format(math.floor(angle)))
else:
  print("Invalid input! Please enter a valid hour (0-23) and minute (0-59).")

Enter the hour (0-23): 9
Enter the minute (0-59): 0
The angle between the hour hand and minute hand is 90 degrees.

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here