<a href="https://colab.research.google.com/github/rishabhk1501/Data-Analytics-Tasks/blob/main/session_5_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [ ]:
# write your code here

List = [(1, 2), (1, 3), (1, 4), (5, 6), (7, 8)]
result = []
L = []

for i in List:
  if i[0] not in L:
    L.append(i[0])

for i in L:
  p = []
  p.append(i)
  for j in List:
    if i == j[0]:
      p.append(j[1])
  result.append(p)

print(list(map(tuple,result)))

[(1, 2, 3, 4), (5, 6), (7, 8)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and left side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [ ]:
tuple1 = (1, 5, 7, 8, 10)

result = []

for i in range(len(tuple1)):
  if i == 0:
    result.append((tuple1[i]*tuple1[i+1]))
  elif i == (len(tuple1)-1):
    result.append((tuple1[i]*tuple1[i-1]))
  else:
    result.append((tuple1[i]*tuple1[i-1]) + (tuple1[i]*tuple1[i+1]))

print(tuple(result))

(5, 40, 91, 136, 80)

###`Q3`: Check if tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [ ]:
# write your code here

t1 = (1,2,3,0)
t2 = (0,1,2,3)
count = 0
for x, y in list(zip(t1,t2)):
  if (len(t1) == len(t2) and x == y):
    count = count + 1

if count == len(t1) == len(t2):
  print('Tuples are same')
else:
  print('Tuples are not same')

Tuples are not same

In [ ]:
t1 = (1,2,3,4)
t2 = (1,2,3,5)
count = 0
for x, y in list(zip(t1,t2)):
  if (len(t1) == len(t2) and x == y):
    count = count + 1

if count == len(t1) == len(t2):
  print('Tuples are same')
else:
  print('Tuples are not same')

if type(t1) == tuple:
  print(True)
else:
  print(False)

Tuples are not same
True

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [ ]:
# write your code here

list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

tuple_count = 0
list_count = 0
set_count = 0

for i in list1:
  if type(i) == tuple:
    tuple_count += 1
  elif type(i) == list:
    list_count += 1
  elif type(i) == set:
    set_count += 1

print('Tuple count:', tuple_count)
print('List count:', list_count)
print('Set count:', set_count)

Tuple count: 1
List count: 2
Set count: 2

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [ ]:
# write your code here

total_records = int(input('Enter No of records: '))
L = []

for i in range(1,total_records+1):

  M = []
  print('Enter details of student-{}'.format(i))
  name = input('Enter Student name- ')
  education = input('Enter Higher Education- ')
  skill = input('Enter Primary Skill- ')
  grad_year = int(input('Enter Year of Graduation- '))
  D = [name,education,skill,grad_year]
  M.extend(D)
  L.append(tuple(M))

print('Enter Job Role Requirement')
s = input('Enter Skill- ')
e = input('Enter Higher education- ')
y = int(input('Enter Year of Graduation- '))
count = 0
print()
print()
for i in L:
  if (i[1] == e and i[2] == s and i[3] == y):
    print(i)
    count += 1
  elif count == 0:
    print('No such candidate')

Enter No of records: 3
Enter details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020
Enter details of student-3
Enter Student name- Rahul
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Job Role Requirement
Enter Skill- Python
Enter Higher education- B.Tech
Enter Year of Graduation- 2022


('Manohar', 'B.Tech', 'Python', 2022)
('Rahul', 'B.Tech', 'Python', 2022)

In [ ]:
a = [1,2,3]
L = []
L.append(a)
print(L)

[[1, 2, 3]]

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [ ]:
# write your code here

ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]


print(list(set(ar1) & set(ar2) & set(ar2)))

[80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [ ]:
# write your code here
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
count = 0
for i in set(Str1):
  if i in ['a','e','i','o','u','A','E','I','O','U']:
    count += 1

print('Number of unique vowels: {}'.format(count))

Number of unique vowels: 6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [ ]:
# write your code here


str1 = input('Enter string: ')

if len(set(str1)) == 2:
  print('String is binary')
else:
  print('String is not binary')

Enter string: 0101010101011100
String is binary

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [ ]:
# write your code here
array = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]


set1 = set()

for i in array:
  set1.update(i)

print(list(set1))

[1, 2, 3, 4, 5, 6, 7, 9]

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [ ]:
# write your code here

lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

L = [i for i in lst1 if i in lst2]
print(L)

[4, 5, 9, 10]

In [ ]:
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}

L = [i for i in lst1 if i in lst2]
print(L)

[9, 11, 26, 28]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [ ]:
# write your code here

test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
Len = {}
for i in test_dict:
  Len[i] = len(set(test_dict[i]))

for i,j in Len.items():
  if j == max(Len.values()):
    print(i)

CampusX

In [ ]:
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
Len = {}
for i in test_dict:
  Len[i] = len(set(test_dict[i]))

for i,j in Len.items():
  if j == max(Len.values()):
    print(i)

Best

### `Q2`: Replace words from Dictionary. Given String, replace it’s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [ ]:
# write your code here

test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
L = test_str.split()
for i in range(len(L)):
  if L[i] in repl_dict:
    L[i] = repl_dict[L[i]]

string = ' '.join(L)

print(string)

CampusX is the best channel for Data-Science students.

In [ ]:
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
L = test_str.split()
for i in range(len(L)):
  if L[i] in repl_dict:
    L[i] = repl_dict[L[i]]

string = ' '.join(L)

print(string)

CampusX best for DS students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [29]:
# write your code here

test_list = ["DataScience", 3, 2001, "is", 8, 2009, 'datatypes', 14, 2005, 'datastructures', 31, 2003]
key_list = ["name", "id", 'year']

L = []
for i in range(len(test_list)//len(key_list)):
  L.append({})
  for j in range(len(key_list)):
    L[i][key_list[j]] = test_list[(i*len(key_list) + j)]

print(L)

[{'name': 'DataScience', 'id': 3, 'year': 2001}, {'name': 'is', 'id': 8, 'year': 2009}, {'name': 'datatypes', 'id': 14, 'year': 2005}, {'name': 'datastructures', 'id': 31, 'year': 2003}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [40]:
# write your code here

input = [('A', 1), ('B', 2), ('C', 3)]

d = {i[0]:([i[1]]) for i in input}
print(d)

{'A': [1], 'B': [2], 'C': [3]}

In [39]:
input = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]

d = {i[0]:([i[1]]) for i in input}
print(d)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [52]:
input = {'c': [3], 'b': [12, 10], 'a': [19, 4]}

d = {}
for i in sorted(input):
  d[i] = sorted(input[i])

print(d)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}

In [54]:
input = {'c': [3], 'b': [12, 10], 'a': [19, 4]}

d = {i:sorted(input[i]) for i in sorted(input)}
print(d)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}

In [56]:
input = {'c': [10, 34, 3]}

d = {i:sorted(input[i]) for i in sorted(input)}
print(d)

{'c': [3, 10, 34]}