<a href="https://colab.research.google.com/github/rishabhk1501/Data-Analytics-Tasks/blob/main/session_2_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
# Write code here

salary = int(input())

if salary <= 5:
  deduction_perc = 0.18
elif salary > 5 and salary <= 10:
  deduction_perc = 0.28
elif salary > 10 and salary <= 20:
  deduction_perc = 0.38
else:
  deduction_perc = 0.48

inhand_monthly_salary = (100000*salary*(1-deduction_perc))/12

print(inhand_monthly_salary)

5
34166.66666666667

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
# Write code here

A = int(input())
B = int(input())
C = int(input())

if (A>0 and B>0 and C>0 and A+B+C==180):
  print('Triangle will be formed')
else:
  ('Triangle will not be formed')

20
30
130
Triangle will be formed

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
# Write code here

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
# Write code here

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
# Write code here
n = int(input())
series = [0,1]
for i in range(2,n):
  Sum = sum(series)
  series.append(sum(series[-2:]))
print(series)

10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
numbers = [1,2,3,4,5,1,4,5]

Sum = sum(numbers)
print(Sum)

25

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
# Write code here
n = int(input())
factorial = 1
for i in range(1,n+1):
  factorial = factorial*i
print(factorial)

9
362880

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
# Write code here

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
# Write code here

N = int(input("Enter a number: "))

sum = 0
i = 1

while i <= N:
  if i % 5 == 0:
    i += 1
    continue

  sum += i

  if sum > 300:
    break


  i += 1
print(f"Final sum from 1 to {N} is {sum}")

Enter a number: 30
Final sum from 1 to 30 is 303

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# Write code here

n = int(input())
Sum = 0
Count = 1
while n != 0:
  Sum = Sum + n
  n = int(input())
  Count = Count + 1
print('sum:',Sum)
print('avg:',(Sum/(Count-1)))

7
3
8
3
5
0
sum: 26
avg: 5.2

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [50]:
# Write code here
values = []
for i in range(2000,3201):
  if (i%7 != 0 and i%5 == 0):
    continue
  values.append(str(i))
print(",".join(values))

2001,2002,2003,2004,2006,2007,2008,2009,2011,2012,2013,2014,2016,2017,2018,2019,2021,2022,2023,2024,2026,2027,2028,2029,2030,2031,2032,2033,2034,2036,2037,2038,2039,2041,2042,2043,2044,2046,2047,2048,2049,2051,2052,2053,2054,2056,2057,2058,2059,2061,2062,2063,2064,2065,2066,2067,2068,2069,2071,2072,2073,2074,2076,2077,2078,2079,2081,2082,2083,2084,2086,2087,2088,2089,2091,2092,2093,2094,2096,2097,2098,2099,2100,2101,2102,2103,2104,2106,2107,2108,2109,2111,2112,2113,2114,2116,2117,2118,2119,2121,2122,2123,2124,2126,2127,2128,2129,2131,2132,2133,2134,2135,2136,2137,2138,2139,2141,2142,2143,2144,2146,2147,2148,2149,2151,2152,2153,2154,2156,2157,2158,2159,2161,2162,2163,2164,2166,2167,2168,2169,2170,2171,2172,2173,2174,2176,2177,2178,2179,2181,2182,2183,2184,2186,2187,2188,2189,2191,2192,2193,2194,2196,2197,2198,2199,2201,2202,2203,2204,2205,2206,2207,2208,2209,2211,2212,2213,2214,2216,2217,2218,2219,2221,2222,2223,2224,2226,2227,2228,2229,2231,2232,2233,2234,2236,2237,2238,2239,2240,2241,2242,2243,2244,2246,2247,2248,2249,2251,2252,2253,2254,2256,2257,2258,2259,2261,2262,2263,2264,2266,2267,2268,2269,2271,2272,2273,2274,2275,2276,2277,2278,2279,2281,2282,2283,2284,2286,2287,2288,2289,2291,2292,2293,2294,2296,2297,2298,2299,2301,2302,2303,2304,2306,2307,2308,2309,2310,2311,2312,2313,2314,2316,2317,2318,2319,2321,2322,2323,2324,2326,2327,2328,2329,2331,2332,2333,2334,2336,2337,2338,2339,2341,2342,2343,2344,2345,2346,2347,2348,2349,2351,2352,2353,2354,2356,2357,2358,2359,2361,2362,2363,2364,2366,2367,2368,2369,2371,2372,2373,2374,2376,2377,2378,2379,2380,2381,2382,2383,2384,2386,2387,2388,2389,2391,2392,2393,2394,2396,2397,2398,2399,2401,2402,2403,2404,2406,2407,2408,2409,2411,2412,2413,2414,2415,2416,2417,2418,2419,2421,2422,2423,2424,2426,2427,2428,2429,2431,2432,2433,2434,2436,2437,2438,2439,2441,2442,2443,2444,2446,2447,2448,2449,2450,2451,2452,2453,2454,2456,2457,2458,2459,2461,2462,2463,2464,2466,2467,2468,2469,2471,2472,2473,2474,2476,2477,2478,2479,2481,2482,2483,2484,2485,2486,2487,2488,2489,2491,2492,2493,2494,2496,2497,2498,2499,2501,2502,2503,2504,2506,2507,2508,2509,2511,2512,2513,2514,2516,2517,2518,2519,2520,2521,2522,2523,2524,2526,2527,2528,2529,2531,2532,2533,2534,2536,2537,2538,2539,2541,2542,2543,2544,2546,2547,2548,2549,2551,2552,2553,2554,2555,2556,2557,2558,2559,2561,2562,2563,2564,2566,2567,2568,2569,2571,2572,2573,2574,2576,2577,2578,2579,2581,2582,2583,2584,2586,2587,2588,2589,2590,2591,2592,2593,2594,2596,2597,2598,2599,2601,2602,2603,2604,2606,2607,2608,2609,2611,2612,2613,2614,2616,2617,2618,2619,2621,2622,2623,2624,2625,2626,2627,2628,2629,2631,2632,2633,2634,2636,2637,2638,2639,2641,2642,2643,2644,2646,2647,2648,2649,2651,2652,2653,2654,2656,2657,2658,2659,2660,2661,2662,2663,2664,2666,2667,2668,2669,2671,2672,2673,2674,2676,2677,2678,2679,2681,2682,2683,2684,2686,2687,2688,2689,2691,2692,2693,2694,2695,2696,2697,2698,2699,2701,2702,2703,2704,2706,2707,2708,2709,2711,2712,2713,2714,2716,2717,2718,2719,2721,2722,2723,2724,2726,2727,2728,2729,2730,2731,2732,2733,2734,2736,2737,2738,2739,2741,2742,2743,2744,2746,2747,2748,2749,2751,2752,2753,2754,2756,2757,2758,2759,2761,2762,2763,2764,2765,2766,2767,2768,2769,2771,2772,2773,2774,2776,2777,2778,2779,2781,2782,2783,2784,2786,2787,2788,2789,2791,2792,2793,2794,2796,2797,2798,2799,2800,2801,2802,2803,2804,2806,2807,2808,2809,2811,2812,2813,2814,2816,2817,2818,2819,2821,2822,2823,2824,2826,2827,2828,2829,2831,2832,2833,2834,2835,2836,2837,2838,2839,2841,2842,2843,2844,2846,2847,2848,2849,2851,2852,2853,2854,2856,2857,2858,2859,2861,2862,2863,2864,2866,2867,2868,2869,2870,2871,2872,2873,2874,2876,2877,2878,2879,2881,2882,2883,2884,2886,2887,2888,2889,2891,2892,2893,2894,2896,2897,2898,2899,2901,2902,2903,2904,2905,2906,2907,2908,2909,2911,2912,2913,2914,2916,2917,2918,2919,2921,2922,2923,2924,2926,2927,2928,2929,2931,2932,2933,2934,2936,2937,2938,2939,2940,2941,2942,2943,2944,2946,2947,2948,2949,2951,2952,2953,2954,2956,2957,2958,2959,2961,2962,2963,2964,2966,2967,2968,2969,2971,2972,2973,2974,2975,2976,2977,2978,2979,2981,2982,2983,2984,2986,2987,2988,2989,2991,2992,2993,2994,2996,2997,2998,2999,3001,3002,3003,3004,3006,3007,3008,3009,3010,3011,3012,3013,3014,3016,3017,3018,3019,3021,3022,3023,3024,3026,3027,3028,3029,3031,3032,3033,3034,3036,3037,3038,3039,3041,3042,3043,3044,3045,3046,3047,3048,3049,3051,3052,3053,3054,3056,3057,3058,3059,3061,3062,3063,3064,3066,3067,3068,3069,3071,3072,3073,3074,3076,3077,3078,3079,3080,3081,3082,3083,3084,3086,3087,3088,3089,3091,3092,3093,3094,3096,3097,3098,3099,3101,3102,3103,3104,3106,3107,3108,3109,3111,3112,3113,3114,3115,3116,3117,3118,3119,3121,3122,3123,3124,3126,3127,3128,3129,3131,3132,3133,3134,3136,3137,3138,3139,3141,3142,3143,3144,3146,3147,3148,3149,3150,3151,3152,3153,3154,3156,3157,3158,3159,3161,3162,3163,3164,3166,3167,3168,3169,3171,3172,3173,3174,3176,3177,3178,3179,3181,3182,3183,3184,3185,3186,3187,3188,3189,3191,3192,3193,3194,3196,3197,3198,3199

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [49]:
# Write code here

values = []
for i in range(1000, 3001):
    s = str(i)
    if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0) and (int(s[3])%2==0):
        values.append(s)
print(",".join(values))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [53]:
# Write code here
import math
UP = int(input())
DOWN = int(input())
LEFT = int(input())
RIGHT = int(input())

Distance = round(math.sqrt((math.pow(UP-DOWN,2) + math.pow(LEFT-RIGHT,2))),0)
print(Distance)

8
3
5
9
6.0

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [62]:
# Write code here

n = int(input())

for i in range(2,n):
  if n%i == 0:
    print(f'{n} is not a prime number')
    break
else:
  print(f'{n} is a prime number')

17
17 is a prime number

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
# Write code here

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here